<div class="homeMsg"><span>公益视频</span></div>
<div class="subNav hrefVideo"></div>
<ul class="homeNav">
	<li>
		<img src="images/home_active_icon.png"/>
		<h1 class="hrefVideo">活动咨询</h1>
		<h2 class="hrefVideo" id="0">公益视频</h2>
		<h2 class="hrefVideo" id="1">活动资讯</h2>
	</li>
	<li>
		<img src="images/knowledge_icon.png"/>
		<h1 class="hrefConsul">知识讲堂</h1>
		<h2 class="hrefConsul" id="0">宫颈癌概述</h2>
		<h2 class="hrefConsul" id="1">宫颈癌预防</h2>
	</li>
	<li>
		<img src="images/qa_icon.png"/>
		<h1 class="hrefFQA">常见问题</h1>
		<h2 class="hrefFQA" id="0">宫颈癌</h2>
		<h2 class="hrefFQA" id="1">宫颈癌疫苗</h2>
	</li>
	<li>
		<img src="images/aboutus_icon.png"/>
		<h1>关于我们</h1>
		<h2 class="hrefMap">网站地图</h2>
		<h2 class="hrefContact">联系我们</h2>
	</li>
</ul>