<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="keywords" content="宫颈癌预防、宫颈癌、HPV、HPV疫苗、接种、病毒、感染、病变、恶性肿瘤、郭采洁、常见问题、医学、医学科普、预防、宫颈筛查、疫苗接种、人乳头瘤病毒疫苗" />
		<meta name="description" content="“宫颈癌预防行动”旨在科学普及宫颈癌防控基本知识， 增强公众对宫颈癌的防控意识，促进宫颈癌发病率和死亡率的降低，提高女性健康水平。">
		<meta name="mobile-agent" content="format=html5; url=http://ccp.alihealth.cn">
		<title>宫颈癌预防行动</title>
		<!-- 引入样式 -->
		<link href="favicon.ico" rel="icon" type="image/x-icon" />
		<link rel="stylesheet" href="../../static/css/arvay/index-666772c58a.css">
		<link rel="stylesheet" href="../../static/css/common/animate-2f05da645a.css">
	</head>

	<body>
		<style type="text/css">
			.find_nav li:nth-child(3) span {
				color: #fff !important;
			}
			
			.find_nav li:nth-child(3) {
				border-color: #FF893A;
			}
			
			.rommTextBox span {
				line-height: 30px;
			}
			
			.rommTextBox p {
				text-align: left;
			}
		</style>
		<div id="app">
			<div class="header"></div>
			<div class="main">
				<!--知识学堂-->
				<div class="indexBox">
					<div class="classroomBox">
						<div class="rommTitle">知识课堂</div>
						<div class="roomTab">
							<li>宫颈癌概述</li>
							<li>宫颈癌预防</li>
						</div>
						<div class="rommTextBox">
							<div>
								<p style="font-size:14pt; line-height:50px; margin:0pt 0pt 8pt 36pt; text-align:center"><img src="img/0bf92f5f-aedd-43ad-9736-a6f0a98b9fe8.001.png" width="131" height="107" alt="7 天黑睁眼-02" style="-aw-left-pos:0pt; -aw-rel-hpos:column; -aw-rel-vpos:paragraph; -aw-top-pos:0pt; -aw-wrap-type:inline" /><span style="font-family:微软雅黑; font-size:14pt; font-weight:bold">天黑请闭眼，T</span><span style="font-family:微软雅黑; font-size:14pt; font-weight:bold">A来了，请睁眼！</span></p>
								<p style="font-size:12pt; line-height:50px; margin:0pt 0pt 8pt"><span style="font-family:微软雅黑; font-size:12pt">       玩过狼人杀的都知道，当法官发出口令“天黑请闭眼，狼人请睁眼”后，接下来“狼人”就要杀人了。身为“平民”的我们，不断地和“狼人”斗智斗勇，试图从蛛丝马迹中发现“狼人”的踪影。宫颈癌就像这样一个“</span><span style="font-family:微软雅黑; font-size:12pt">狼人”，在与宫颈癌进行这盘狼人杀时，想让它跳出来也不是不可能，这就要考察我们“平民”的观察能力啦！</span></p>
								<p style="font-size:12pt; text-align:center; line-height:50px; margin:0pt 0pt 8pt"><span style="font-family:微软雅黑; font-size:12pt"></span><img src="img/0bf92f5f-aedd-43ad-9736-a6f0a98b9fe8.002.png" width="542" height="426" alt="7 天黑睁眼-01" style="-aw-left-pos:0pt; -aw-rel-hpos:column; -aw-rel-vpos:paragraph; -aw-top-pos:0pt; -aw-wrap-type:inline" /></p>
								<p style="font-size:12pt; line-height:50px; margin:0pt 0pt 8pt"><span style="font-family:微软雅黑; font-size:12pt">       </span><span style="font-family:微软雅黑; font-size:12pt">最初之时，宫颈癌狼人隐藏地很好，没有明显的症状和表现。经过一段时间的观察，</span><span style="font-family:微软雅黑; font-size:12pt">随着疾病的发展</span><span style="font-family:微软雅黑; font-size:12pt">，从宫颈癌这个狼人的表现中，我们总能发现一些蛛丝马迹。睁大眼睛，下面，我就来为大家攻略一下，宫颈癌这个狼人会有怎样的表现。</span></p>
								<p style="font-size:12pt; line-height:50px; margin:0pt 0pt 8pt"><span style="font-family:微软雅黑; font-size:12pt; font-weight:bold">阴道出血：</span><span style="font-family:微软雅黑; font-size:12pt">常为接触性出血，多见于性生活、妇科检查后，出血量可多可少。早期出血量一般较少，中、晚期出血量大。老年患者绝经后也会发生不规则阴道流血。</span></p>
								<p style="font-size:12pt; line-height:50px; margin:0pt 0pt 8pt"><span style="font-family:微软雅黑; font-size:12pt; font-weight:bold">经期紊乱：</span><span style="font-family:微软雅黑; font-size:12pt">表现为经期延长、周期缩短、经量增多等。</span></p>
								<p style="font-size:12pt; line-height:50px; margin:0pt 0pt 8pt"><span style="font-family:微软雅黑; font-size:12pt; font-weight:bold">白带异常：</span><span style="font-family:微软雅黑; font-size:12pt">白带增多或有腥臭味，呈白色或血性，稀薄似水样、米汤水样，晚期可继发感染，白带呈脓性并伴有恶臭。</span></p>
								<p style="background-color:#ffffff; line-height:15.75pt; margin:0pt"><span style="color:#333333; font-family:微软雅黑; font-size:12pt; font-weight:bold">身体疼痛：</span><span style="color:#333333; font-family:微软雅黑; font-size:12pt">表现为背痛、腿痛、骨盆痛、</span><span style="background-color:#ffffff; color:#333333; font-family:微软雅黑; font-size:12pt">下腹疼痛、腰骶疼痛等。</span></p>
								<p style="background-color:#ffffff; line-height:15.75pt; margin:0pt"><span style="background-color:#ffffff; color:#333333; font-family:微软雅黑; font-size:12pt; font-weight:bold">肾脏不适：</span><span style="background-color:#ffffff; color:#333333; font-family:微软雅黑; font-size:12pt">多表现为尿频、尿急、血尿、肛门坠胀、便秘等。</span></p>
								<p style="background-color:#ffffff; line-height:15.75pt; margin:0pt"><span style="font-family:微软雅黑; font-size:12pt; font-weight:bold">水肿症状：</span><span style="font-family:微软雅黑; font-size:12pt">患者会有单腿肿的症状出现。</span></p>
								<p style="font-size:12pt; line-height:50px; margin:0pt 0pt 8pt"><span style="font-family:微软雅黑; font-size:12pt; font-weight:bold">精神疲倦：</span><span style="font-family:微软雅黑; font-size:12pt">患者常常会觉得四肢乏力、提不起精神。</span></p>
								<p style="font-size:12pt; line-height:50px; margin:0pt 0pt 8pt"><span style="font-family:微软雅黑; font-size:12pt; font-weight:bold">食欲减退：</span><span style="font-family:微软雅黑; font-size:12pt">表现为没有食欲、饭吃得很少、对自己爱吃的食物也提不起兴趣。</span></p>
								<p style="font-size:12pt; line-height:50px; margin:0pt 0pt 8pt"><span style="background-color:#ffffff; color:#333333; font-family:微软雅黑; font-size:12pt; font-weight:bold">末期表现：</span><span style="background-color:#ffffff; color:#333333; font-family:微软雅黑; font-size:12pt">到了宫颈癌末期，患者可能出现消瘦（体质量减轻）、贫血、发热及全身各脏器衰竭等症状</span><span style="background-color:#ffffff; color:#333333; font-family:微软雅黑; font-size:12pt">。</span></p>
								<p style="font-size:12pt; line-height:50px; margin:0pt 0pt 8pt"><span style="background-color:#ffffff; color:#333333; font-family:微软雅黑; font-size:12pt; font-weight:bold">远处转移：</span><span style="background-color:#ffffff; color:#333333; font-family:微软雅黑; font-size:12pt">如肝、肺、骨等局部出现症状。</span></p>
								<p style="font-size:12pt; line-height:50px; margin:0pt 0pt 8pt;text-align:center"><span style="font-family:微软雅黑; font-size:12pt"></span><img src="img/0bf92f5f-aedd-43ad-9736-a6f0a98b9fe8.003.png" width="568" height="422" alt="7 天黑睁眼-03" style="-aw-left-pos:0pt; -aw-rel-hpos:column; -aw-rel-vpos:paragraph; -aw-top-pos:0pt; -aw-wrap-type:inline" /></p>
								<p style="font-size:12pt; line-height:50px; margin:0pt 0pt 8pt"><span style="font-family:微软雅黑; font-size:12pt">       宫颈癌这个狼人越往后越会露出很多马脚。那对我们绝大多数平民来讲，该如何保护好自己呢？那就是，一旦出现接触性阴道流血、不规则阴道流血、绝经后阴道流血、月经淋漓不净、白带增多并伴随异味等征兆时，应尽快到医院就诊，接受体格检查和细胞学、阴道镜、宫颈活检等相关检查。并要注意在性生活后用卫生纸擦净分泌物，观察有无血迹。平时，也应多穿浅色内裤，以便及时发现少量的出血。只有做到早发现、早预防，才能最大程度将宫颈癌狼人踢出局哦~</span></p>
								<p style="font-size:12pt; line-height:50px; margin:0pt 0pt 8pt"><span style="font-family:Calibri; font-size:12pt">&#xa0;</span></p>
								<p style="font-size:12pt; line-height:50px; margin:0pt 0pt 8pt"><span style="font-family:宋体; font-size:12pt">Ref：</span<a style="color:#0563c1" href="http://www.who.int/mediacentre/factsheets/fs380/zh/"><span style="color:#0563c1; font-family:微软雅黑; font-size:12pt; text-decoration:underline">http://www.who.int/mediacentre/factsheets/fs380/zh/</span></a><span style="font-family:微软雅黑; font-size:12pt"> </span></p>
								<p style="margin:0pt"><span style="font-family:Calibri; font-size:12pt; vertical-align:super">2</span><span style="font-family:Calibri; font-size:12pt"> </span><span style="font-family:宋体; font-size:12pt">叶安花，何素娥。</span><span style="font-family:Calibri; font-size:12pt">100</span><span style="font-family:宋体; font-size:12pt">例宫颈癌患者的临床症状分析及护理对策探讨。中国医药指南，</span><span style="font-family:Calibri; font-size:12pt">2016</span><span style="font-family:宋体; font-size:12pt">，</span><span style="font-family:Calibri; font-size:10pt">14(31): 269-70.</span></p>
								<p style="font-size:12pt; line-height:50px; margin:0pt 0pt 8pt"><span style="font-family:Calibri; font-size:12pt">&#xa0;</span></p>
								<p style="font-size:12pt; line-height:50px; margin:0pt 0pt 8pt"><span style="font-family:Calibri; font-size:12pt">&#xa0;</span></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<footer></footer>
	</body>
	<script src="../../static/js/common/jquery-1-e4ff02d3ba.9.1.js " charset="utf-8 "></script>
	<script src="../../static/js/arvay/index-3d32611247.js " charset="utf-8 "></script>
	<script src="../../static/js/libs/jquery-f5590c13e5.page.js " type="text/javascript " charset="utf-8 "></script>
	<script src="js/index.js" type="text/javascript" charset="utf-8"></script>

</html>