<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="keywords" content="宫颈癌预防、宫颈癌、HPV、HPV疫苗、接种、病毒、感染、病变、恶性肿瘤、郭采洁、常见问题、医学、医学科普、预防、宫颈筛查、疫苗接种、人乳头瘤病毒疫苗" />
		<meta name="description" content="“宫颈癌预防行动”旨在科学普及宫颈癌防控基本知识， 增强公众对宫颈癌的防控意识，促进宫颈癌发病率和死亡率的降低，提高女性健康水平。">
		<meta name="mobile-agent" content="format=html5; url=http://ccp.alihealth.cn">
		<title>宫颈癌预防行动</title>
		<!-- 引入样式 -->
		<link href="favicon.ico" rel="icon" type="image/x-icon" />
		<link rel="stylesheet" href="../../static/css/arvay/index-666772c58a.css">
		<link rel="stylesheet" href="../../static/css/common/animate-2f05da645a.css">
	</head>

	<body>
		<style type="text/css">
			.find_nav li:nth-child(3) span {
				color: #fff !important;
			}
			
			.find_nav li:nth-child(3) {
				border-color: #FF893A;
			}
			
			.rommTextBox span {
				line-height: 30px;
			}
			
			.rommTextBox p {
				text-align: left;
			}
		</style>
		<div id="app">
			<div class="header"></div>
			<div class="main">
				<!--知识学堂-->
				<div class="indexBox">
					<div class="classroomBox">
						<div class="rommTitle">知识课堂</div>
						<div class="roomTab">
							<li>宫颈癌概述</li>
							<li>宫颈癌预防</li>
						</div>
						<div class="rommTextBox">
							<div>
								<p style="font-size:14pt; line-height:108%; margin:0pt 0pt 8pt; text-align:center"><span style="font-family:微软雅黑; font-size:14pt; font-weight:bold">女子“防”身术，你学了吗？</span></p>
								<p style="font-size:14pt; line-height:108%; margin:0pt 0pt 8pt; text-align:center"><span style="font-family:微软雅黑; font-size:14pt; font-weight:bold">&#xa0;</span></p>
								<p style="font-size:14pt; line-height:108%; margin:0pt 0pt 8pt"><span style="font-family:微软雅黑; font-size:14pt">      天灾意外、男朋友出轨、爱豆突然传出婚讯……这世上，有太多事情发生地猝不及防。还有宫颈癌，这一威胁女性生殖系统健康的第一杀手，不知道什么时候就会盯上你……作为一个女孩子，不学点“防”身术，真有点Hold不住呢~</span></p>
								<p style="font-size:14pt; line-height:108%; margin:0pt 0pt 8pt"><span style="font-family:微软雅黑; font-size:14pt; font-weight:bold">      女子“防”身术第一步，知己知彼，方能百战不殆。</span></p>
								<p style="font-size:14pt; line-height:108%; margin:0pt 0pt 8pt; text-align:center"><img src="img/02823769-66d6-46fb-844b-1b62305dd294.001.png" width="356" height="246" alt="23 防身术-01" style="-aw-left-pos:0pt; -aw-rel-hpos:column; -aw-rel-vpos:paragraph; -aw-top-pos:0pt; -aw-wrap-type:inline" /></p>
								<p style="font-size:14pt; line-height:108%; margin:0pt 0pt 8pt"><span style="font-family:微软雅黑; font-size:14pt">      </span><span style="font-family:微软雅黑; font-size:14pt">想要预防宫颈癌，首先我们要了解宫颈癌是由什么引发的。</span></p>
								<p style="font-size:14pt; line-height:108%; margin:0pt 0pt 8pt"><span style="font-family:微软雅黑; font-size:14pt">1983年，豪森博士经过缜密检测，层层抽丝剥茧，首次从宫颈癌活检组织中分离出</span><span style="font-family:微软雅黑; font-size:14pt">HPV16型病毒，将其列为宫颈癌致病原因怀疑对象。</span></p>
								<p style="font-size:14pt; line-height:108%; margin:0pt 0pt 8pt; text-align:center"><img src="img/02823769-66d6-46fb-844b-1b62305dd294.002.png" width="378" height="258" alt="23 防身术-02" style="-aw-left-pos:0pt; -aw-rel-hpos:column; -aw-rel-vpos:paragraph; -aw-top-pos:0pt; -aw-wrap-type:inline" /></p>
								<p style="font-size:14pt; line-height:108%; margin:0pt 0pt 8pt"><span style="font-family:微软雅黑; font-size:14pt">1984年，他成功克隆出</span><span style="font-family:微软雅黑; font-size:14pt">HPV16型和18型病毒基因组，发现某些类型的HPV感染与宫颈癌之间存在着直接的因果关系。</span></p>
								<p style="font-size:14pt; line-height:108%; margin:0pt 0pt 8pt; text-align:center"><img src="img/02823769-66d6-46fb-844b-1b62305dd294.003.png" width="344" height="241" alt="防身术 " style="-aw-left-pos:0pt; -aw-rel-hpos:column; -aw-rel-vpos:paragraph; -aw-top-pos:0pt; -aw-wrap-type:inline" /></p>
								<p style="font-size:14pt; line-height:108%; margin:0pt 0pt 8pt"><span style="font-family:微软雅黑; font-size:14pt">2008年10月6日，凭借发现HPV是导致宫颈癌病因的成就，豪森博士获得该年度诺贝尔生理学/医学奖。此处应有掌声！</span></p>
								<p style="font-size:14pt; line-height:108%; margin:0pt 0pt 8pt; text-align:center"><img src="img/02823769-66d6-46fb-844b-1b62305dd294.004.png" width="301" height="238" alt="防身术2" style="-aw-left-pos:0pt; -aw-rel-hpos:column; -aw-rel-vpos:paragraph; -aw-top-pos:0pt; -aw-wrap-type:inline" /></p>
								<p style="font-size:14pt; line-height:108%; margin:0pt 0pt 8pt"><span style="font-family:微软雅黑; font-size:14pt">      “凶手”已被找到，接下来我们该怎么办？就这样坐以待毙吗？就这样眼睁睁看着HPV病毒们恣意妄为吗？当！然！不！是！</span></p>
								<p style="font-size:14pt; line-height:108%; margin:0pt 0pt 8pt"><span style="font-family:微软雅黑; font-size:14pt; font-weight:bold">      女子“防”身术第二步：一个问题多种对策。</span></p>
								<p style="font-size:14pt; line-height:108%; margin:0pt 0pt 8pt; text-align:center"><img src="img/02823769-66d6-46fb-844b-1b62305dd294.005.png" width="245" height="260" alt="23 防身术-03" style="-aw-left-pos:0pt; -aw-rel-hpos:column; -aw-rel-vpos:paragraph; -aw-top-pos:0pt; -aw-wrap-type:inline" /></p>
								<p style="font-size:14pt; line-height:108%; margin:0pt 0pt 8pt"><span style="font-family:微软雅黑; font-size:14pt">      </span><span style="font-family:微软雅黑; font-size:14pt">据世界卫生组织（WHO）推荐，针对不同年龄阶段的女性，预防宫颈癌的策略主要包括两种：一级预防——疫苗接种，二级预防——宫颈筛查。</span></p>
								<p style="font-size:14pt; line-height:108%; margin:0pt 0pt 8pt; text-align:center"><img src="img/02823769-66d6-46fb-844b-1b62305dd294.006.png" width="397" height="290" alt="23 防身术-04" style="-aw-left-pos:0pt; -aw-rel-hpos:column; -aw-rel-vpos:paragraph; -aw-top-pos:0pt; -aw-wrap-type:inline" /></p>
								<p style="font-size:14pt; line-height:108%; margin:0pt 0pt 8pt"><span style="font-family:微软雅黑; font-size:14pt">      对于年轻女性来讲，HPV疫苗接种的主要目的是防止HPV感染，建立免疫保护，预防宫颈癌。</span></p>
								<p style="font-size:14pt; line-height:108%; margin:0pt 0pt 8pt"><span style="font-family:微软雅黑; font-size:14pt; font-weight:bold">      女子“防”身术第三步：直击要害，正面出击。</span></p>
								<p style="font-size:14pt; line-height:108%; margin:0pt 0pt 8pt; text-align:center"><img src="img/02823769-66d6-46fb-844b-1b62305dd294.007.png" width="296" height="247" alt="23 防身术-05" style="-aw-left-pos:0pt; -aw-rel-hpos:column; -aw-rel-vpos:paragraph; -aw-top-pos:0pt; -aw-wrap-type:inline" /></p>
								<p style="font-size:14pt; line-height:108%; margin:0pt 0pt 8pt"><span style="font-family:微软雅黑; font-size:14pt">      当你接种了HPV疫苗后，它就可以产生相应的抗体。</span></p>
								<p style="font-size:14pt; line-height:108%; margin:0pt 0pt 8pt; text-align:center"><img src="img/02823769-66d6-46fb-844b-1b62305dd294.008.png" width="373" height="236" alt="23 防身术-06" style="-aw-left-pos:0pt; -aw-rel-hpos:column; -aw-rel-vpos:paragraph; -aw-top-pos:0pt; -aw-wrap-type:inline" /></p>
								<p style="font-size:14pt; line-height:108%; margin:0pt 0pt 8pt"><span style="font-family:微软雅黑; font-size:14pt">      当HPV病毒再次入侵时，这些抗体便会再次被召唤出来，牺牲小我，与HPV病毒相结合，将其带出体外，进而达</span><span style="font-family:微软雅黑; font-size:14pt">到消灭病毒的目的。好！腻！害！</span></p>
								<p style="font-size:14pt; line-height:108%; margin:0pt 0pt 8pt; text-align:center"><img src="img/02823769-66d6-46fb-844b-1b62305dd294.009.png" width="418" height="228" alt="23 防身术-07" style="-aw-left-pos:0pt; -aw-rel-hpos:column; -aw-rel-vpos:paragraph; -aw-top-pos:0pt; -aw-wrap-type:inline" /></p>
								<p style="font-size:14pt; line-height:108%; margin:0pt 0pt 8pt"><span style="font-family:微软雅黑; font-size:14pt">      值得一提的是，宫颈癌预防疫苗马上就要来到中国啦！有了HPV疫苗的保护，妈妈再也不用担心我的身体啦！</span><span style="font-family:微软雅黑; font-size:14pt">18-26岁的年轻女孩们千万不要错过哦~</span></p>
								<p style="font-size:14pt; line-height:108%; margin:0pt 0pt 8pt; text-align:center"><img src="img/02823769-66d6-46fb-844b-1b62305dd294.010.png" width="245" height="186" alt="23 防身术-08" style="-aw-left-pos:0pt; -aw-rel-hpos:column; -aw-rel-vpos:paragraph; -aw-top-pos:0pt; -aw-wrap-type:inline" /></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<footer></footer>
	</body>
	<script src="../../static/js/common/jquery-1-e4ff02d3ba.9.1.js " charset="utf-8 "></script>
	<script src="../../static/js/arvay/index-3d32611247.js " charset="utf-8 "></script>
	<script src="../../static/js/libs/jquery-f5590c13e5.page.js " type="text/javascript " charset="utf-8 "></script>
	<script src="js/index.js" type="text/javascript" charset="utf-8"></script>

</html>