<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="keywords" content="宫颈癌预防、宫颈癌、HPV、HPV疫苗、接种、病毒、感染、病变、恶性肿瘤、郭采洁、常见问题、医学、医学科普、预防、宫颈筛查、疫苗接种、人乳头瘤病毒疫苗" />
		<meta name="description" content="“宫颈癌预防行动”旨在科学普及宫颈癌防控基本知识， 增强公众对宫颈癌的防控意识，促进宫颈癌发病率和死亡率的降低，提高女性健康水平。">
		<meta name="mobile-agent" content="format=html5; url=http://ccp.alihealth.cn">
		<title>宫颈癌预防行动</title>
		<!-- 引入样式 -->
		<link href="favicon.ico" rel="icon" type="image/x-icon" />
		<link rel="stylesheet" href="../../static/css/arvay/index-666772c58a.css">
		<link rel="stylesheet" href="../../static/css/common/animate-2f05da645a.css">
	</head>

	<body>
		<style type="text/css">
			.find_nav li:nth-child(3) span {
				color: #fff !important;
			}
			
			.find_nav li:nth-child(3) {
				border-color: #FF893A;
			}
			
			.rommTextBox span {
				line-height: 30px;
			}
			
			.rommTextBox p {
				text-align: left;
			}
		</style>
		<div id="app">
			<div class="header"></div>
			<div class="main">
				<!--知识学堂-->
				<div class="indexBox">
					<div class="classroomBox">
						<div class="rommTitle">知识课堂</div>
						<div class="roomTab">
							<li>宫颈癌概述</li>
							<li>宫颈癌预防</li>
						</div>
						<div class="rommTextBox">
							<div>
								<p style="margin:0pt; orphans:0; text-align:center; widows:0"><span style="font-family:微软雅黑; font-size:16pt; font-weight:bold">锦囊在手，健康我有</span></p>
								<p style="margin:0pt; orphans:0; text-align:justify; text-indent:21pt; widows:0"><span style="font-family:微软雅黑; font-size:14pt">俗话说得好</span><span style="font-family:微软雅黑; font-size:14pt">，“常在江湖漂，难免会挨刀。”即使是表面健康美丽的姑娘，也有可能感染致癌性的HPV——这个可能导致宫颈癌的凶手。为了帮助大家科学合理地对抗HPV感染，我们针对不同阶段准备了三个锦囊！</span></p>
								<p style="margin:0pt; orphans:0; text-align:justify; text-indent:21pt; widows:0"><span style="font-family:微软雅黑; font-size:14pt">HPV感染分为三个阶段：潜伏感染，亚临床感染和临床感染。若你尚未感染HPV，可直接阅读下文中锦囊一的相关内容。处于前两个阶段的朋友，get锦囊二。如果你已处于第三阶段，请仔细阅读锦囊三所示内容哦！</span></p>
								<p style="margin:0pt; orphans:0; text-align:center; widows:0"><img src="img/8aa4bc6d-1244-4b0c-b585-808bfde8384e.001.png" width="592" height="161" alt="C:\Victoria\Daily work\Cervarix0818\wechat\Creative\cpma\20171017-推荐KOL-Mark\先4篇\20171018-修改后的ai\新建文件夹\锦囊在手健康我有-02.png" style="-aw-left-pos:0pt; -aw-rel-hpos:column; -aw-rel-vpos:paragraph; -aw-top-pos:0pt; -aw-wrap-type:inline" /></p>
								<p style="margin:0pt; orphans:0; text-indent:21pt; widows:0"><span style="font-family:微软雅黑; font-size:14pt">防守是最好的进攻！</span></p>
								<p style="margin:0pt; orphans:0; text-indent:21pt; widows:0"><span style="font-family:微软雅黑; font-size:14pt">接种HPV疫苗适用于预防相应HPV型别所致疾病，包括宫颈癌及宫颈上皮内瘤样病变等。</span></p>
								<p style="margin:0pt; orphans:0; text-indent:21pt; widows:0"><span style="font-family:微软雅黑; font-size:14pt">二价人乳头瘤病毒吸附疫苗已于2017年7月31日起在我国内地正式上市，在各城市的社区医院及社区卫生服务中心就能进行接种啦！</span></p>
								<p style="margin:0pt; orphans:0; text-indent:21pt; widows:0"><span style="font-family:微软雅黑; font-size:14pt">&#xa0;</span></p>
								<p style="margin:0pt; orphans:0; text-align:center; widows:0"><img src="img/8aa4bc6d-1244-4b0c-b585-808bfde8384e.002.png" width="535" height="176" alt="C:\Victoria\Daily work\Cervarix0818\wechat\Creative\cpma\20171017-推荐KOL-Mark\先4篇\20171018-修改后的ai\新建文件夹\锦囊在手健康我有-03.png" style="-aw-left-pos:0pt; -aw-rel-hpos:column; -aw-rel-vpos:paragraph; -aw-top-pos:0pt; -aw-wrap-type:inline" /></p>
								<p style="margin:0pt; orphans:0; text-indent:21pt; widows:0"><span style="color:#191919; font-family:微软雅黑; font-size:14pt">定期复查，切勿大意！</span></p>
								<p style="margin:0pt; orphans:0; text-indent:21pt; widows:0"><span style="color:#191919; font-family:微软雅黑; font-size:14pt">你目前不需要“场外支援”（治疗）</span></p>
								<p style="margin:0pt; orphans:0; text-indent:21pt; widows:0"><span style="color:#191919; font-family:微软雅黑; font-size:14pt">大多数HPV拜倒在你的免疫力下</span></p>
								<p style="margin:0pt; orphans:0; text-indent:21pt; widows:0"><span style="font-family:微软雅黑; font-size:14pt; font-weight:bold">&#xa0;</span></p>
								<p style="margin:0pt; orphans:0; text-align:center; text-indent:21pt; widows:0"><img src="img/8aa4bc6d-1244-4b0c-b585-808bfde8384e.003.png" width="529" height="154" alt="C:\Victoria\Daily work\Cervarix0818\wechat\Creative\cpma\20171017-推荐KOL-Mark\先4篇\20171018-修改后的ai\新建文件夹\锦囊在手健康我有-04.png" style="-aw-left-pos:0pt; -aw-rel-hpos:column; -aw-rel-vpos:paragraph; -aw-top-pos:0pt; -aw-wrap-type:inline" /></p>
								<p style="margin:0pt; orphans:0; text-align:justify; text-indent:21pt; widows:0"><span style="font-family:微软雅黑; font-size:14pt"> “战事告急”，场外求助！</span></p>
								<p style="margin:0pt; orphans:0; text-indent:21pt; widows:0"><span style="font-family:微软雅黑; font-size:14pt">致癌型HPV（主要是HPV16和HPV18）感染:</span></p>
								<p style="margin:0pt; orphans:0; text-indent:21pt; widows:0"><span style="font-family:微软雅黑; font-size:14pt">首先，确认人体组织是否病变</span></p>
								<p style="margin:0pt; orphans:0; text-indent:21pt; widows:0"><span style="font-family:微软雅黑; font-size:14pt">&#xa0;</span></p>
								<p style="margin:0pt; orphans:0; text-align:center; widows:0"><img src="img/8aa4bc6d-1244-4b0c-b585-808bfde8384e.004.png" width="556" height="779" alt="C:\Victoria\Daily work\Cervarix0818\wechat\Creative\cpma\20171017-推荐KOL-Mark\先4篇\20171018-修改后的ai\新建文件夹\锦囊在手健康我有-05.png" style="-aw-left-pos:0pt; -aw-rel-hpos:column; -aw-rel-vpos:paragraph; -aw-top-pos:0pt; -aw-wrap-type:inline" /></p>
								<p style="margin:0pt; orphans:0; text-indent:21pt; widows:0"><span style="font-family:微软雅黑; font-size:14pt">&#xa0;</span></p>
								<p style="margin:0pt; orphans:0; widows:0"><span style="font-family:微软雅黑; font-size:14pt">&#xa0;</span></p>
								<p style="margin:0pt; orphans:0; text-indent:21pt; widows:0"><span style="font-family:微软雅黑; font-size:14pt">锦囊在手，遇上猖獗的HPV也不会阵脚大乱啦！如果一个锦囊解决不了，那就用两个！为了守护健康美好的生活，速速get起来吧！</span></p>
								<p style="margin:0pt; orphans:0; text-align:justify; widows:0"><span style="font-family:Calibri; font-size:14pt">&#xa0;</span></p>
								<p style="margin:0pt"><span style="font-family:微软雅黑; font-size:14pt">Refs</span><span style="font-family:微软雅黑; font-size:14pt">：</span></p>
								<ol type="1" style="margin:0pt; padding-left:0pt">
									<li style="font-family:微软雅黑; font-size:10pt; margin:0pt 0pt 0pt 13.27pt; padding-left:4.73pt; text-indent:0pt"><span style="font-family:微软雅黑; font-size:10pt">Schneider A. Pathogenesis of genital HPV infection. Genitourin Med. 1993 Jun;69(3):165-73.</span></li>
									<li style="font-family:微软雅黑; font-size:10pt; margin:0pt 0pt 0pt 13.27pt; padding-left:4.73pt; text-indent:0pt"><span style="font-family:微软雅黑; font-size:10pt">孙晓光。HPV感染的治疗。抗癌之窗，2014年第5期: 23-4.</span></li>
								</ol>
								<p style="margin:0pt; orphans:0; text-align:justify; widows:0"><span style="font-family:Calibri; font-size:14pt">&#xa0;</span></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<footer></footer>
	</body>
	<script src="../../static/js/common/jquery-1-e4ff02d3ba.9.1.js " charset="utf-8 "></script>
	<script src="../../static/js/arvay/index-3d32611247.js " charset="utf-8 "></script>
	<script src="../../static/js/libs/jquery-f5590c13e5.page.js " type="text/javascript " charset="utf-8 "></script>
	<script src="js/index.js" type="text/javascript" charset="utf-8"></script>

</html>