<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="keywords" content="宫颈癌预防、宫颈癌、HPV、HPV疫苗、接种、病毒、感染、病变、恶性肿瘤、郭采洁、常见问题、医学、医学科普、预防、宫颈筛查、疫苗接种、人乳头瘤病毒疫苗" />
		<meta name="description" content="“宫颈癌预防行动”旨在科学普及宫颈癌防控基本知识， 增强公众对宫颈癌的防控意识，促进宫颈癌发病率和死亡率的降低，提高女性健康水平。">
		<meta name="mobile-agent" content="format=html5; url=http://ccp.alihealth.cn">
		<title>宫颈癌预防行动</title>
		<!-- 引入样式 -->
		<link href="favicon.ico" rel="icon" type="image/x-icon" />
		<link rel="stylesheet" href="../../static/css/arvay/index-666772c58a.css">
		<link rel="stylesheet" href="../../static/css/common/animate-2f05da645a.css">
	</head>

	<body>
		<style type="text/css">
			.find_nav li:nth-child(3) span {
				color: #fff !important;
			}
			
			.find_nav li:nth-child(3) {
				border-color: #FF893A;
			}
		</style>
		<div id="app">
			<div class="header"></div>
			<div class="main">
				<!--知识学堂-->
				<div class="indexBox">
					<div class="classroomBox">
						<div class="rommTitle">知识课堂</div>
						<div class="roomTab">
							<li>宫颈癌概述</li>
							<li>宫颈癌预防</li>
						</div>
						<div class="rommTextBox">
							<div style="text-align: left;">
								<p style="font-size:14pt; line-height:30px; margin:0pt 0pt 8pt; text-align:center"><span style="font-family:微软雅黑; font-size:14pt; font-weight:bold">没想到，宫颈癌还有这么多面孔呢！</span></p>
								<p style="font-size:11pt; line-height:30px; margin:0pt 0pt 8pt"><span style="color:#ff0000; font-family:微软雅黑; font-size:11pt">&#xa0;</span></p>
								<p style="font-size:11pt; line-height:30px; margin:0pt 0pt 8pt"><span style="font-family:微软雅黑; font-size:11pt">       </span><span style="font-family:微软雅黑; font-size:11pt">都说时间是把杀猪刀，历经不同的生长阶段，逆生长的不多，“放飞自我”的倒不少。曾经白衣翩翩的英俊少年如今变成胡子拉碴的邋遢大叔；曾经豆蔻年华的天真少女如今变成了只知柴米油盐的黄脸婆……可你知道吗？宫颈癌也有自己不同的“成长”阶段的！时间这把刀，在宫颈癌身上又留下了怎样的印记？宫颈癌又是如何放飞自我、有着哪些不一样的面孔呢？跟我一起来看看吧！</span></p>
								<p style="font-size:11pt; line-height:30px; margin:0pt 0pt 8pt; text-align:center"><img src="img/ed02d4d7-bf9a-4655-8fed-38e2b999b093.001.png" width="577" height="499" alt="10 没想到，宫颈癌还有这么多面孔呢！-02" style="-aw-left-pos:0pt; -aw-rel-hpos:column; -aw-rel-vpos:paragraph; -aw-top-pos:0pt; -aw-wrap-type:inline" /></p>
								<p style="font-size:11pt; line-height:30px; margin:0pt 0pt 8pt"><span style="font-family:微软雅黑; font-size:11pt">       通常情况下，病人在经过病理检查、被诊断为宫颈癌后，医生会通过各种检查——妇科检查、影像学检查（</span><span style="font-family:微软雅黑; font-size:11pt">X线、B超）或内镜检查等来了解肿瘤影响的范围，确定宫颈癌成长到了哪个阶段，以此来为患者提供最佳的治疗方法并评估治愈的几率。</span></p>
								<p style="font-size:11pt; line-height:30px; margin:0pt 0pt 8pt; text-align:center"><img src="img/ed02d4d7-bf9a-4655-8fed-38e2b999b093.002.png" width="445" height="362" alt="10 没想到，宫颈癌还有这么多面孔呢！-03" style="-aw-left-pos:0pt; -aw-rel-hpos:column; -aw-rel-vpos:paragraph; -aw-top-pos:0pt; -aw-wrap-type:inline" /></p>
								<p style="font-size:11pt; line-height:30px; margin:0pt 0pt 8pt"><span style="font-family:微软雅黑; font-size:11pt">     不同阶段的宫颈癌长得也不一样哦，通常，医生所使用的宫颈癌分期为国际妇产科联盟（</span><span style="font-family:微软雅黑; font-size:11pt">FIGO）分期，将其分为了4期：</span></p>
								<ul type="disc" style="margin:0pt; padding-left:0pt">
									<li style="font-family:serif; font-size:11pt; line-height:30px; margin:0pt 0pt 0pt 28.06pt; padding-left:7.94pt; text-indent:0pt"><span style="font-family:微软雅黑; font-size:11pt">Ⅰ期 ：肿瘤局限在宫颈，根据肿瘤的大小及侵犯深度又分为 Ⅰ a期和 Ⅰ b期； </span></li>
									<li style="font-family:serif; font-size:11pt; line-height:30px; margin:0pt 0pt 0pt 28.06pt; padding-left:7.94pt; text-indent:0pt"><span style="font-family:微软雅黑; font-size:11pt">Ⅱ期 ：肿瘤超出宫颈，侵犯到阴道上段或宫颈旁的组织，但未达到盆壁；</span></li>
									<li style="font-family:serif; font-size:11pt; line-height:30px; margin:0pt 0pt 0pt 28.06pt; padding-left:7.94pt; text-indent:0pt"><span style="font-family:微软雅黑; font-size:11pt">Ⅲ期 ：肿瘤侵犯到阴道下段或沿宫颈旁组织蔓延到达盆壁；</span></li>
									<li style="font-family:serif; font-size:11pt; line-height:30px; margin:0pt 0pt 8pt 28.06pt; padding-left:7.94pt; text-indent:0pt"><span style="font-family:微软雅黑; font-size:11pt">Ⅳ期 ：肿瘤侵犯到膀胱 、直肠等周围器官的黏膜，或转移到肺、肝等远处的器官。</span></li>
								</ul>
								<p style="font-size:11pt; line-height:30px; margin:0pt 0pt 8pt"><span style="font-family:微软雅黑; font-size:11pt">也就是说，当宫颈癌越来越“放飞自我”的时候，它侵犯的器官就会越来越多。当一个人患了宫颈癌以后，她的生存期长短与宫颈癌所处的分期阶段也有着密切的关系。一般而言，分期的数字越小，生存期越长；分期的数字越大，生存期越短。这可不是随便说说的哦，有数据有真相！</span></p>
								<p style="font-size:11pt; line-height:30px; margin:0pt 0pt 8pt"><span style="font-family:微软雅黑; font-size:11pt">据</span><span style="font-family:微软雅黑; font-size:11pt">FIGO报道，宫颈癌的临床分期不同，患者的5年生存率也不同。</span></p>
								<p style="font-size:11pt; line-height:30px; margin:0pt 0pt 8pt; text-align:center"><img src="img/ed02d4d7-bf9a-4655-8fed-38e2b999b093.003.png" width="584" height="947" alt="10 没想到，宫颈癌还有这么多面孔呢！-04" style="-aw-left-pos:0pt; -aw-rel-hpos:column; -aw-rel-vpos:paragraph; -aw-top-pos:0pt; -aw-wrap-type:inline" /></p>
								<p style="font-size:11pt; line-height:30px; margin:0pt 0pt 8pt"><span style="font-family:微软雅黑; font-size:11pt">       </span><span style="font-family:微软雅黑; font-size:11pt">看完了宫颈癌的不同面孔，姑娘们有没有感到来自宫颈癌深深的恶意……所以呀，一定要提前做好预防工作，千万不能给宫颈癌“放飞自我”的机会哦~</span></p>
								<p style="font-size:11pt; line-height:30px; margin:0pt 0pt 8pt"><span style="font-family:微软雅黑; font-size:11pt">&#xa0;</span></p>
								<p style="font-size:11pt; line-height:30px; margin:0pt 0pt 8pt"><span style="font-family:微软雅黑; font-size:11pt">&#xa0;</span></p>
								<p style="font-size:9pt; line-height:30px; margin:0pt 0pt 8pt"><span style="font-family:微软雅黑; font-size:9pt">Ref</span><span style="font-family:微软雅黑; font-size:9pt">:</span></p>
								<p style="font-size:9pt; line-height:30px; margin:0pt 0pt 8pt"><span style="font-family:微软雅黑; font-size:9pt">1.</span><span style="font-family:微软雅黑; font-size:9pt"> </span><span style="font-family:微软雅黑; font-size:9pt">刘继红 主编。远离宫颈癌。北京：人民卫生出版社，2008</span></p>
								<p style="font-size:9pt; line-height:30px; margin:0pt 0pt 8pt"><span style="font-family:微软雅黑; font-size:9pt">2. Quinn MA, Benedet JL, Odicino F, et al. Carcinoma of the cervix uteri. FIGO 26th Annual Report on the Results of Treatment in Gynecological Cancer. Int J Gynaecol Obstet. 2006 Nov;95 Suppl 1:S43-103.</span></p>
								<p style="font-size:10pt; line-height:30px; margin:0pt 0pt 8pt"><span style="font-family:微软雅黑; font-size:10pt">&#xa0;</span></p>
								<p style="font-size:10pt; line-height:30px; margin:0pt 0pt 8pt"><span style="font-family:微软雅黑; font-size:10pt">&#xa0;</span></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<footer></footer>
	</body>
	<script src="../../static/js/common/jquery-1-e4ff02d3ba.9.1.js " charset="utf-8 "></script>
	<script src="../../static/js/arvay/index-3d32611247.js " charset="utf-8 "></script>
	<script src="../../static/js/libs/jquery-f5590c13e5.page.js " type="text/javascript " charset="utf-8 "></script>
	<script src="js/index.js" type="text/javascript" charset="utf-8"></script>
</html>