<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="keywords" content="宫颈癌预防、宫颈癌、HPV、HPV疫苗、接种、病毒、感染、病变、恶性肿瘤、郭采洁、常见问题、医学、医学科普、预防、宫颈筛查、疫苗接种、人乳头瘤病毒疫苗" />
		<meta name="description" content="“宫颈癌预防行动”旨在科学普及宫颈癌防控基本知识， 增强公众对宫颈癌的防控意识，促进宫颈癌发病率和死亡率的降低，提高女性健康水平。">
		<meta name="mobile-agent" content="format=html5; url=http://ccp.alihealth.cn">
		<title>宫颈癌预防行动</title>
		<!-- 引入样式 -->
		<link href="favicon.ico" rel="icon" type="image/x-icon" />
		<link rel="stylesheet" href="../../static/css/arvay/index-666772c58a.css">
		<link rel="stylesheet" href="../../static/css/common/animate-2f05da645a.css">
	</head>

	<body>
		<style type="text/css">
			.find_nav li:nth-child(3) span {
				color: #fff !important;
			}
			
			.find_nav li:nth-child(3) {
				border-color: #FF893A;
			}
			
			.rommTextBox span {
				line-height: 30px;
			}
		</style>
		<div id="app">
			<div class="header"></div>
			<div class="main">
				<!--知识学堂-->
				<div class="indexBox">
					<div class="classroomBox">
						<div class="rommTitle">知识课堂</div>
						<div class="roomTab">
							<li>宫颈癌概述</li>
							<li>宫颈癌预防</li>
						</div>
						<div class="rommTextBox">
							<div style="text-align: left;">
								<p style="font-size:14pt; line-height:108%; margin:0pt 0pt 8pt 36pt; text-align:center"><span style="font-family:微软雅黑; font-size:14pt; font-weight:bold">宫颈癌的自白：有些锅，我不背</span></p>
								<p style="font-size:12pt; line-height:108%; margin:0pt 0pt 8pt"><span style="font-family:微软雅黑; font-size:12pt">&#xa0;</span></p>
								<p style="font-size:12pt; line-height:108%; margin:0pt 0pt 8pt"><span style="font-family:微软雅黑; font-size:12pt">       Hi，姑娘们，我是宫颈癌，是你们口中的女性健康杀手。或许你没见过我，但听到我的名字也足以让你闻风丧胆。可是，我也很“委屈”，我也很“无辜”呀！不是洗白，今天我们就来聊一聊，剥夺了无数女性的生命，真的都是我的原因吗？</span></p>
								<p style="font-size:12pt; text-align: center; line-height:108%; margin:0pt 0pt 8pt"><img src="img/4ad582e2-5bdf-40d9-8189-fbc83f24dc96.001.png" width="596" height="483" alt="6 宫颈自白不背锅-01" style="-aw-left-pos:-12.75pt; -aw-rel-hpos:column; -aw-rel-vpos:paragraph; -aw-top-pos:26.95pt; -aw-wrap-type:topbottom" /><br /></p>
								<p style="font-size:12pt; line-height:108%; margin:0pt 0pt 8pt"><span style="font-family:微软雅黑; font-size:12pt"><span style="font-family:微软雅黑; font-size:12pt">首先，我不会无缘无故找上你们的，谁让你们先发出了“喜欢我”的信号呢？</span></span>
								</p>
								<p style="font-size:12pt; text-align: center; line-height:108%; margin:0pt 0pt 8pt"><img src="img/4ad582e2-5bdf-40d9-8189-fbc83f24dc96.002.png" width="600" height="581" alt="6 宫颈自白不背锅-02" style="-aw-left-pos:8.3pt; -aw-rel-hpos:column; -aw-rel-vpos:paragraph; -aw-top-pos:44.45pt; -aw-wrap-type:topbottom" /><br /><span style="font-family:微软雅黑; font-size:12pt"></span></p>
								<p style="font-size:12pt; line-height:108%; margin:0pt 0pt 8pt"><span style="font-family:微软雅黑; font-size:12pt">&#xa0;</span></p>
								<p style="font-size:12pt; line-height:108%; margin:0pt 0pt 8pt"><span style="font-family:微软雅黑; font-size:12pt; font-weight:bold">HPV感染：</span><span style="font-family:微软雅黑; font-size:12pt">高危型</span><span style="font-family:微软雅黑; font-size:12pt">HPV对我有着强大的吸引力，它是导致我与你相遇的罪魁祸首，尤其是H</span><span style="font-family:微软雅黑; font-size:12pt">PV16和</span><span style="font-family:微软雅黑; font-size:12pt">HPV18。</span></p>
								<p style="font-size:12pt; line-height:108%; margin:0pt 0pt 8pt"><span style="font-family:微软雅黑; font-size:12pt; font-weight:bold">性行为：</span><span style="font-family:微软雅黑; font-size:12pt">如果你初次性生活过早（＜</span><span style="font-family:微软雅黑; font-size:12pt">16岁）、性生活活跃、多个性伴侣、性伴侣又有多个性伴侣的话，就有可能吸引我来到你身边哦~</span></p>
								<p style="font-size:12pt; line-height:108%; margin:0pt 0pt 8pt"><span style="font-family:微软雅黑; font-size:12pt; font-weight:bold">口服避孕药：</span><span style="font-family:微软雅黑; font-size:12pt">如果你长期口服避孕药的话，也会增加我看到你的几率。</span></p>
								<p style="font-size:12pt; line-height:108%; margin:0pt 0pt 8pt"><span style="font-family:微软雅黑; font-size:12pt; font-weight:bold">吸烟：</span><span style="font-family:微软雅黑; font-size:12pt">吸烟会降低你的免疫力，当我接近你时，你会无力抵挡。</span></p>
								<p style="font-size:12pt; line-height:108%; margin:0pt 0pt 8pt"><span style="font-family:微软雅黑; font-size:12pt">       以上</span><span style="font-family:微软雅黑; font-size:12pt">这些，都有可能将我吸引至你身边。</span></p>
								<p style="font-size:12pt; line-height:108%; margin:0pt 0pt 8pt"><span style="font-family:微软雅黑; font-size:12pt">       前面有说到，高危型</span><span style="font-family:微软雅黑; font-size:12pt">HPV是导致我与你相遇的罪魁祸首。你知道吗？有国外研究表明，女性在她一生中发生至少一次HPV感染的几率是85%，而且感染HPV的女性80%以上是在45岁以前感染的！</span><span style="font-family:微软雅黑; font-size:12pt">性活跃的年轻女性</span><span style="font-family:微软雅黑; font-size:12pt">HPV感染率最高，其中，在我国城市里15~</span><span style="font-family:微软雅黑; font-size:12pt">24岁女性</span><span style="font-family:微软雅黑; font-size:12pt">HPV感染率最高。一项基于中国17个研究、共30,207例女性的数据分析显示，15~</span><span style="font-family:微软雅黑; font-size:12pt">24岁城市女性的</span><span style="font-family:微软雅黑; font-size:12pt">HPV感染率高达18.7%！</span></p>
								<p style="font-size:12pt; line-height:108%; margin:0pt 0pt 8pt"><span style="font-family:微软雅黑; font-size:12pt">       发生HPV感染的概率高，也就注定了我与姑娘你相遇的几率也高了很多。但其实，要来到你身边，也不是一件容易的事情，这其中还有漫长的路要走……</span></p>
								<p style="font-size:12pt; line-height:108%; margin:0pt 0pt 8pt"><span style="font-family:微软雅黑; font-size:12pt">       在我来到你身边之前，你的身体里会先产生一些变化，我们称它为宫颈癌的癌前病变（CIN），它是由良性病变到恶性病变的中间状态，在某些因素的作用下有可能会变成恶性肿瘤。但如果能及时处理掉，CIN就能恢复到正常状态了。所以，CIN是一种可逆改变的状态。</span></p>
								<p style="font-size:11pt; text-align: center; line-height:108%; margin:0pt 0pt 8pt; text-align:center"><img src="img/4ad582e2-5bdf-40d9-8189-fbc83f24dc96.003.png" width="567" height="836" alt="6 宫颈自白不背锅-03" style="-aw-left-pos:0pt; -aw-rel-hpos:column; -aw-rel-vpos:paragraph; -aw-top-pos:0pt; -aw-wrap-type:inline" /></p>
								<p style="font-size:12pt; line-height:108%; margin:0pt 0pt 8pt"><span style="font-family:微软雅黑; font-size:12pt">       </span><span style="font-family:微软雅黑; font-size:12pt">从宫颈病变到我来到你身边大约需要</span><span style="font-family:微软雅黑; font-size:12pt">10年的时间，在这期间，我相信你会有时间、有办法、有能力去及早发现癌前病变，及时阻断癌前病变的发展。如果你能早点筛查、早点预防的话，我又怎么可能跨越重重阻碍来到你身边呢？所以，千万不要说我没有给过你生存的机会哦~</span></p>
								<p style="font-size:9pt; line-height:108%; margin:0pt 0pt 8pt"><span style="font-family:微软雅黑; font-size:9pt">Ref：</span></p>
								<p style="margin:0pt"><span style="font-family:微软雅黑; font-size:9pt">1.</span><span style="font-family:微软雅黑; font-size:9pt">刘湘云。宫颈癌病因学研究进展。齐齐哈尔医学院学报, 2002, 23(3): 346.</span></p>
								<p style="margin:0pt"><span style="font-family:微软雅黑; font-size:9pt">2.Chesson HW, Dunne EF, Hariri S,et al. The estimated lifetime probability of acquiring human papillomavirus in the United States. Sex Transm Dis. 2014;41(11):660-4.</span></p>
								<p style="margin:0pt"><span style="font-family:微软雅黑; font-size:9pt">3.</span><span style="font-family:微软雅黑; font-size:9pt">Fang-Hui Zhao, Adam K. Lewkowitz, et  al.</span><span style="font-family:微软雅黑; font-size:9pt"> </span><span style="font-family:微软雅黑; font-size:9pt">Prevalence of Human Papillomavirus and Cervical Intraepithelial</span><span style="font-family:微软雅黑; font-size:9pt"> Neoplasia in China: A pooled analysis of 17 Population-based Studies. Int J Cancer. 2012 ; 131(12): 2929-38.</span></p>
								<p style="font-size:11pt; line-height:108%; margin:0pt 0pt 8pt"><span style="font-family:Calibri; font-size:11pt">&#xa0;</span></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<footer></footer>
	</body>
	<script src="../../static/js/common/jquery-1-e4ff02d3ba.9.1.js " charset="utf-8 "></script>
	<script src="../../static/js/arvay/index-3d32611247.js " charset="utf-8 "></script>
	<script src="../../static/js/libs/jquery-f5590c13e5.page.js " type="text/javascript " charset="utf-8 "></script>
	<script src="js/index.js" type="text/javascript" charset="utf-8"></script>
</html>