<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="keywords" content="宫颈癌预防、宫颈癌、HPV、HPV疫苗、接种、病毒、感染、病变、恶性肿瘤、郭采洁、常见问题、医学、医学科普、预防、宫颈筛查、疫苗接种、人乳头瘤病毒疫苗" />
		<meta name="description" content="“宫颈癌预防行动”旨在科学普及宫颈癌防控基本知识， 增强公众对宫颈癌的防控意识，促进宫颈癌发病率和死亡率的降低，提高女性健康水平。">
		<meta name="mobile-agent" content="format=html5; url=http://ccp.alihealth.cn">
		<title>宫颈癌预防行动</title>
		<!-- 引入样式 -->
		<link href="favicon.ico" rel="icon" type="image/x-icon" />
		<link rel="stylesheet" href="../../static/css/arvay/index-666772c58a.css">
		<link rel="stylesheet" href="../../static/css/common/animate-2f05da645a.css">
	</head>

	<body>
		<style type="text/css">
			.find_nav li:nth-child(3) span {
				color: #fff !important;
			}
			
			.find_nav li:nth-child(3) {
				border-color: #FF893A;
			}
		</style>
		<div id="app">
			<div class="header"></div>
			<div class="main">
				<!--知识学堂-->
				<div class="indexBox">
					<div class="classroomBox">
						<div class="rommTitle">知识课堂</div>
						<div class="roomTab">
							<li>宫颈癌概述</li>
							<li>宫颈癌预防</li>
						</div>
						<div class="rommTextBox">
							<div style="text-align: left;">
								<p style="font-size:14pt; line-height:150%; margin:0pt 0pt 8pt; text-align:center"><span style="font-family:微软雅黑; font-size:14pt; font-weight:bold">&#xa0;</span></p>
								<p style="font-size:14pt; line-height:150%; margin:0pt 0pt 8pt; text-align:center"><span style="font-family:微软雅黑; font-size:14pt; font-weight:bold">给我一首歌的时间，告诉你癌后生活护理该怎么办</span></p>
								<p style="font-size:11pt; line-height:150%; margin:0pt 0pt 8pt; text-indent:22pt"><span style="font-family:微软雅黑; font-size:11pt">现在的年轻人呀，要是不得个什么“癌”好像就跟不上时代了，动辄就懒癌晚期、穷癌遍地，直男癌、手癌、尴尬癌更是屡见不鲜。你要问他们“癌”后生活怎么办，那肯定是直接放弃治疗呀！日常开开玩笑也就算了，如果真的不幸患上癌症（比如宫颈癌），你真的知道该怎么办吗？给我一首歌的时间，让我告诉你~</span></p>
								<p style="font-size:11pt; line-height:150%; margin:0pt 0pt 8pt; text-indent:22pt"><span style="font-family:微软雅黑; font-size:11pt">俗话说，病是三分治、七分养。虽然我们无法改变生病的事实，但至少可以振作起来，积极治疗来改变这种状态。就像一首歌有前奏、主歌、尾声，癌后的生活护理同样如此，如果做得好也是可以续写自己生命的乐章哒！</span></p>
								<p style="font-size:11pt; line-height:150%; margin:0pt 0pt 8pt; text-align:center; text-indent:22pt"><img src="img/cbc69149-7755-4cd5-8f8f-e80c4fbae5e7.001.png" width="557" height="425" alt="31 一首歌-02" style="-aw-left-pos:0pt; -aw-rel-hpos:column; -aw-rel-vpos:paragraph; -aw-top-pos:0pt; -aw-wrap-type:inline" /></p>
								<p style="font-size:11pt; line-height:150%; margin:0pt 0pt 8pt; text-indent:22pt"><span style="font-family:微软雅黑; font-size:11pt">生活护理之前奏：《树立信心，保持乐观》。</span></p>
								<p style="font-size:11pt; line-height:150%; margin:0pt 0pt 8pt; text-indent:22pt"><span style="font-family:微软雅黑; font-size:11pt">我们在遇到打击和挫折时，难免会出现震惊、恐慌、消沉或焦虑的情绪。尤其在得知患有可能改变自己命运的疾病时，更是崩溃不已。如何从犹豫彷徨中走出来，仅仅依靠医生、护士的帮助还是不够的，我们要从自身出发，积极面对。有意识地来进行心理调节，保持积极平和的心态，为下一步的治疗做好充分的心理准备。</span><span style="font-family:微软雅黑; font-size:11pt">有时，坚强的信念是会创造奇迹的！</span></p>
								<p style="font-size:11pt; line-height:150%; margin:0pt 0pt 8pt; text-align:center; text-indent:22pt"><img src="img/cbc69149-7755-4cd5-8f8f-e80c4fbae5e7.002.png" width="522" height="359" alt="31 一首歌-03" style="-aw-left-pos:0pt; -aw-rel-hpos:column; -aw-rel-vpos:paragraph; -aw-top-pos:0pt; -aw-wrap-type:inline" /></p>
								<p style="font-size:11pt; line-height:150%; margin:0pt 0pt 8pt; text-indent:22pt"><span style="font-family:微软雅黑; font-size:11pt">生活护理之主歌：《积极治疗，坚持随访</span><span style="font-family:微软雅黑; font-size:11pt">》</span><span style="font-family:微软雅黑; font-size:11pt">。</span></p>
								<p style="font-size:11pt; line-height:150%; margin:0pt 0pt 8pt; text-indent:22pt"><span style="font-family:微软雅黑; font-size:11pt">宫颈癌的治疗是一个长期的过程，要做好长期作战的计划和准备。无论接受何种治疗，只要条件允许，尽可能坚持做完医生计划安排的疗程，不要半途而废。治疗结束后坚持定期随访复查，对疾病的状态实时评估，发现问题及时合理地进行治疗。一般情况下是前两年每</span><span style="font-family:微软雅黑; font-size:11pt">3个月复查一次，第3~</span><span style="font-family:微软雅黑; font-size:11pt">5年每半年复查一次，以后每年至少复查一次，毕竟，定期复查随访是提高治疗效果的重要保障。</span></p>
								<p style="font-size:11pt; line-height:150%; margin:0pt 0pt 8pt; text-align:center; text-indent:22pt"><img src="img/cbc69149-7755-4cd5-8f8f-e80c4fbae5e7.003.png" width="535" height="450" alt="31 一首歌-04" style="-aw-left-pos:0pt; -aw-rel-hpos:column; -aw-rel-vpos:paragraph; -aw-top-pos:0pt; -aw-wrap-type:inline" /></p>
								<p style="font-size:11pt; line-height:150%; margin:0pt 0pt 8pt; text-indent:22pt"><span style="font-family:微软雅黑; font-size:11pt">生活护理之尾声：《合理膳食，适当运动》。</span></p>
								<p style="font-size:11pt; line-height:150%; margin:0pt 0pt 8pt; text-indent:22pt"><span style="font-family:微软雅黑; font-size:11pt">饮食调理也是疾病康复中的重要一环。宫颈癌患者要尽可能地进食营养丰富的食物，而且要注意营养均衡，合理搭配，全面补充蛋白、微量元素和维生素等。同时保证充足的睡眠和休息，适当做些力所能及的运动，但要注意避免劳累。</span></p>
								<p style="font-size:11pt; line-height:150%; margin:0pt 0pt 8pt; text-indent:22pt"><span style="font-family:微软雅黑; font-size:11pt">宫颈癌没有想象中那么可怕，我们也比自己想象中更强大。保持乐观向上的心态，坚持健康良好的生活方式，做好长期抗战的准备，结合正规医院制定的科学合理的治疗方案，这些措施一定能达到目前最好的治疗效果，帮患者续写生命的美好乐章。</span></p>
								<p style="font-size:11pt; line-height:150%; margin:0pt 0pt 8pt; text-align:center; text-indent:22pt"><img src="img/cbc69149-7755-4cd5-8f8f-e80c4fbae5e7.004.png" width="506" height="372" alt="31 一首歌-05" style="-aw-left-pos:0pt; -aw-rel-hpos:column; -aw-rel-vpos:paragraph; -aw-top-pos:0pt; -aw-wrap-type:inline" /></p>
								<p style="line-height:19pt; margin:0pt 0pt 8pt; text-indent:22pt"><span style="font-family:Calibri; font-size:11pt">&#xa0;</span></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<footer></footer>
	</body>
	<script src="../../static/js/common/jquery-1-e4ff02d3ba.9.1.js " charset="utf-8 "></script>
	<script src="../../static/js/arvay/index-3d32611247.js " charset="utf-8 "></script>
	<script src="../../static/js/libs/jquery-f5590c13e5.page.js " type="text/javascript " charset="utf-8 "></script>
	<script src="js/index.js" type="text/javascript" charset="utf-8"></script>
</html>