<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="keywords" content="宫颈癌预防、宫颈癌、HPV、HPV疫苗、接种、病毒、感染、病变、恶性肿瘤、郭采洁、常见问题、医学、医学科普、预防、宫颈筛查、疫苗接种、人乳头瘤病毒疫苗" />
		<meta name="description" content="“宫颈癌预防行动”旨在科学普及宫颈癌防控基本知识， 增强公众对宫颈癌的防控意识，促进宫颈癌发病率和死亡率的降低，提高女性健康水平。">
		<meta name="mobile-agent" content="format=html5; url=http://ccp.alihealth.cn">
		<title>宫颈癌预防行动</title>
		<!-- 引入样式 -->
		<link href="favicon.ico" rel="icon" type="image/x-icon" />
		<link rel="stylesheet" href="../../static/css/arvay/index-666772c58a.css">
		<link rel="stylesheet" href="../../static/css/common/animate-2f05da645a.css">
	</head>

	<body>
		<style type="text/css">
			.find_nav li:nth-child(3) span {
				color: #fff !important;
			}
			
			.find_nav li:nth-child(3) {
				border-color: #FF893A;
			}
			
			.rommTextBox span {
				line-height: 30px;
			}
			
			.rommTextBox p {
				text-align: left;
			}
		</style>
		<div id="app">
			<div class="header"></div>
			<div class="main">
				<!--知识学堂-->
				<div class="indexBox">
					<div class="classroomBox">
						<div class="rommTitle">知识课堂</div>
						<div class="roomTab">
							<li>宫颈癌概述</li>
							<li>宫颈癌预防</li>
						</div>
						<div class="rommTextBox">
							<div>
								<p style="font-size:16pt; line-height:30px; margin:0pt 0pt 8pt; orphans:0; text-align:center; widows:0"><span style="font-family:微软雅黑; font-size:14pt; font-weight:bold">真爱难寻？蓦然回首       Mr </span><span style="font-family:微软雅黑; font-size:14pt; font-weight:bold">Right</span><span style="font-family:微软雅黑; font-size:14pt; font-weight:bold">就在这里！</span></p>
								<p style="font-size:14pt; line-height:30px; margin:0pt 0pt 8pt; orphans:0; text-align:justify; widows:0"><span style="font-family:微软雅黑; font-size:14pt">&#xa0;</span></p>
								<p style="font-size:14pt; line-height:30px; margin:0pt 0pt 8pt; orphans:0; text-align:justify; widows:0"><span style="font-family:微软雅黑; font-size:14pt">@亲爱滴中国女性：</span></p>
								<p style="font-size:14pt; line-height:30px; margin:0pt 0pt 8pt; orphans:0; text-align:justify; text-indent:21pt; widows:0"><span style="font-family:微软雅黑; font-size:14pt">在这个爱情不容易被相信的年代里，找个体贴又安全感爆棚的伴侣，或许是很多人心中的美梦。但其实，真爱根本不难寻！最近就有一个不仅男友力爆棚，还能为你撑起一把保护伞的他，正在等待你的召唤。</span></p>
								<p style="font-size:14pt; line-height:30px; margin:0pt 0pt 8pt; orphans:0; text-align:justify; text-indent:21pt; widows:0"><span style="font-family:微软雅黑; font-size:14pt">他的大名叫——HPV疫苗！</span></p>
								<p style="font-size:14pt; line-height:30px; margin:0pt 0pt 8pt; orphans:0; text-align:center; text-indent:21pt; widows:0"><img src="img/075c603b-efae-499c-a97a-bf0b2a4deb98.002.png" width="506" height="382" alt="40 真爱-04" style="-aw-left-pos:0pt; -aw-rel-hpos:column; -aw-rel-vpos:paragraph; -aw-top-pos:0pt; -aw-wrap-type:inline" /></p>
								<p style="font-size:14pt; line-height:30px; margin:0pt 0pt 8pt; orphans:0; text-align:justify; text-indent:21pt; widows:0"><span style="font-family:微软雅黑; font-size:14pt">他的男友力，是一种智勇双全的体现。在世界卫生组织推出的一系列降低宫颈癌发病率和死亡率的措施中，他绝对是战斗力最强的。</span></p>
								<p style="font-size:14pt; line-height:30px; margin:0pt 0pt 8pt; orphans:0; text-align:justify; text-indent:21pt; widows:0"><span style="font-family:微软雅黑; font-size:14pt">他的智慧，让他始终都能最懂你。他深知，导致宫颈癌的HPV病毒有很多种，但在中国，HPV-16和HPV-18才是最常见的女性杀手。因此，攻克这两种病毒成为了他毕生的追求，对宫颈癌高达84.5％的预防率是他对你做出的承诺。</span></p>
								<p style="font-size:14pt; line-height:30px; margin:0pt 0pt 8pt; orphans:0; text-align:center; text-indent:21pt; widows:0"><img src="img/075c603b-efae-499c-a97a-bf0b2a4deb98.003.png" width="472" height="377" alt="40 真爱-03" style="-aw-left-pos:0pt; -aw-rel-hpos:column; -aw-rel-vpos:paragraph; -aw-top-pos:0pt; -aw-wrap-type:inline" /></p>
								<p style="font-size:14pt; line-height:30px; margin:0pt 0pt 8pt; orphans:0; text-align:justify; text-indent:21pt; widows:0"><span style="font-family:微软雅黑; font-size:14pt">在凶手还未来到时，你就离不开他的呵护。他能为你提前搭建起高效的免疫系统，抵御战火侵袭。当然，也只有他的“火眼金睛”才能识别出那些正在靠近你的威胁，并以93.2％的效力保证你的健康。</span></p>
								<p style="font-size:14pt; line-height:30px; margin:0pt 0pt 8pt; orphans:0; text-align:justify; text-indent:21pt; widows:0"><span style="font-family:微软雅黑; font-size:14pt">即便是其他的杀手在蠢蠢欲动，他也不会充当吃瓜群众，毕竟为你撑起一把全方位的保护伞，才是他的终极目标。除了HPV-16、HPV-18之外，他也同样对</span><span style="font-family:微软雅黑; font-size:14pt">HPV31</span><span style="font-family:微软雅黑; font-size:14pt">、</span><span style="font-family:微软雅黑; font-size:14pt">33</span><span style="font-family:微软雅黑; font-size:14pt">和</span><span style="font-family:微软雅黑; font-size:14pt">45</span><span style="font-family:微软雅黑; font-size:14pt">具有杀伤力。</span></p>
								<p style="font-size:14pt; line-height:30px; margin:0pt 0pt 8pt; orphans:0; text-align:center; text-indent:21pt; widows:0"><img src="img/075c603b-efae-499c-a97a-bf0b2a4deb98.004.png" width="410" height="346" alt="40 真爱-02" style="-aw-left-pos:0pt; -aw-rel-hpos:column; -aw-rel-vpos:paragraph; -aw-top-pos:0pt; -aw-wrap-type:inline" /></p>
								<p style="font-size:14pt; line-height:30px; margin:0pt 0pt 8pt; orphans:0; text-align:justify; text-indent:21pt; widows:0"><span style="font-family:微软雅黑; font-size:14pt">假如凶手已经悄然袭击，那么他会化身为强大的补救力量，为HPV检测结果持续阳性、宫颈上皮内瘤变的患者提供临床保护。</span></p>
								<p style="font-size:14pt; line-height:30px; margin:0pt 0pt 8pt; orphans:0; text-align:justify; text-indent:21pt; widows:0"><span style="font-family:微软雅黑; font-size:14pt">他的出现，无疑就是在向肿瘤君呐喊“滚蛋吧！”</span></p>
								<p style="font-size:14pt; line-height:30px; margin:0pt 0pt 8pt; orphans:0; text-align:justify; text-indent:21pt; widows:0"><span style="font-family:微软雅黑; font-size:14pt">要知道，没有他的日子，可能危险重重。脱离了他无微不至的保护后，各路HPV病毒就有了趁虚而入的机会，一经感染，发病率位居世界第二的宫颈癌就会向你靠近。</span></p>
								<p style="font-size:14pt; line-height:30px; margin:0pt 0pt 8pt; orphans:0; text-align:center; text-indent:21pt; widows:0"><img src="img/075c603b-efae-499c-a97a-bf0b2a4deb98.005.png" width="411" height="321" alt="40 真爱-01" style="-aw-left-pos:0pt; -aw-rel-hpos:column; -aw-rel-vpos:paragraph; -aw-top-pos:0pt; -aw-wrap-type:inline" /></p>
								<p style="font-size:14pt; line-height:30px; margin:0pt 0pt 8pt; orphans:0; text-align:justify; text-indent:21pt; widows:0"><span style="font-family:微软雅黑; font-size:14pt">因此，女生、女神和女王们，如此全心全意守护你的他，是你不容错过的Mr Right！刻不容缓地与他相爱相生，就能从此过上健康幸福的生活。</span></p>
								<p style="font-size:14pt; line-height:30px; margin:0pt 0pt 8pt; orphans:0; text-align:justify; widows:0"><span style="font-family:微软雅黑; font-size:14pt">Refs:</span></p>
								<p style="font-size:14pt; line-height:30px; margin:0pt 0pt 8pt; orphans:0; text-align:justify; widows:0"><span style="font-family:微软雅黑; font-size:14pt">1.</span><span style="width:13.56pt; text-indent:0pt; display:inline-block"></span><span style="font-family:微软雅黑; font-size:14pt">WHO。综合控制宫颈癌：一项基本实践指南，2014</span></p>
								<p style="font-size:14pt; line-height:30px; margin:0pt 0pt 8pt; orphans:0; text-align:justify; widows:0"><span style="font-family:微软雅黑; font-size:14pt">2.</span><span style="width:13.56pt; text-indent:0pt; display:inline-block"></span><span style="font-family:微软雅黑; font-size:14pt">Chen W, Zheng R, Baade PD, et al. Cancer statistics in China, 2015. CA Cancer J Clin. 2016 Mar-Apr;66(2):115-32.</span></p>
								<p style="font-size:14pt; line-height:30px; margin:0pt 0pt 8pt; orphans:0; text-align:justify; widows:0"><span style="font-family:微软雅黑; font-size:14pt">3.</span><span style="width:13.56pt; text-indent:0pt; display:inline-block"></span><span style="font-family:微软雅黑; font-size:14pt">de Sanjose S, Quint WG, Alemany L, et al. Human papillomavirus genotype attribution in invasive cervical cancer: a retrospective cross-sectional worldwide study. Lancet Oncol. 2010 Nov;11(11):1048-56.</span></p>
								<p style="font-size:14pt; line-height:30px; margin:0pt 0pt 8pt; orphans:0; text-align:justify; widows:0"><span style="font-family:微软雅黑; font-size:14pt">4.</span><span style="width:13.56pt; text-indent:0pt; display:inline-block"></span><span style="font-family:微软雅黑; font-size:14pt">Chen W, Zhang X, Molijn A, et al. Human papillomavirus type-distribution in cervical cancer in China: the importance of HPV 16 and 18. Cancer Causes Control. 2009 Nov;20(9):1705-13.</span></p>
								<p style="font-size:14pt; line-height:30px; margin:0pt 0pt 8pt; orphans:0; text-align:justify; widows:0"><span style="font-family:微软雅黑; font-size:14pt">5.</span><span style="width:13.56pt; text-indent:0pt; display:inline-block"></span><span style="font-family:微软雅黑; font-size:14pt">Wheeler CM, Castellsague X, Garland SM, et al. Cross-protective efficacy of HPV-16/18 AS04-adjuvanted vaccine against cervical infection and precancer caused by non-vaccine oncogenic HPV types: 4-year end-of-study analysis of the randomised, double-blind PATRICIA trial. Lancet Oncol 2012; 13: 100-10.</span></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<footer></footer>
	</body>
	<script src="../../static/js/common/jquery-1-e4ff02d3ba.9.1.js " charset="utf-8 "></script>
	<script src="../../static/js/arvay/index-3d32611247.js " charset="utf-8 "></script>
	<script src="../../static/js/libs/jquery-f5590c13e5.page.js " type="text/javascript " charset="utf-8 "></script>
	<script src="js/index.js" type="text/javascript" charset="utf-8"></script>

</html>