<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="keywords" content="宫颈癌预防行动、宫颈癌、预防、疫苗、hpv、二价疫苗、科普、健康、癌症、恶性肿瘤、人乳头瘤病毒、外生殖器湿疣、郭采洁、女性" />
		<meta name="description" content="“宫颈癌预防行动”旨在科学普及宫颈癌防控基本知识， 增强公众对宫颈癌的防控意识，促进宫颈癌发病率和死亡率的降低，提高女性健康水平。四、公益视频：视频、新闻1+1、">
		<meta name="mobile-agent" content="format=html5; url=http://ccp.alihealth.cn">
		<title>宫颈癌预防行动</title>
		<!-- 引入样式 -->
		<link href="favicon.ico" rel="icon" type="image/x-icon" />
		<link rel="stylesheet" href="../static/css/arvay/index-666772c58a.css">
		<link rel="stylesheet" href="../static/css/common/animate-2f05da645a.css">
	</head>

	<body>
		<style type="text/css">
			.find_nav li:nth-child(3) span {
				color: #fff !important;
			}
			
			.find_nav li:nth-child(3) {
				border-color: #FF893A;
			}
		</style>
		<div id="app">
			<div class="header"></div>
			<div class="main">
				<!--知识学堂-->
				<div class="indexBox">
					<div class="classroomBox">
						<div class="rommTitle">知识课堂</div>
						<div class="roomTab">
							<li>宫颈癌概述</li>
							<li>宫颈癌预防</li>
						</div>
						<div class="rommTextBox">
							<iframe runat="server" src="" id="iframeId" width="100%" height="120%" frameborder="no" border="0" marginwidth="0" marginheight="0" scrolling="no" allowtransparency="yes"></iframe>
						</div>
						<div class="roomList roomList1">
							<ul class="roomListUl roomList2Show preventList">
								<!--<li id="huainvhai">
									<img src="news/img/7a0887a3-bd58-458f-9f13-e48eac0d2dad.001.png" alt="" />
									<h1>得了HPV就一定是坏女孩吗？</h1>
									<h2>谈到HPV，许多人就认为一定是性生活不检点才会感染这种病毒。其实，即便只和男朋友一个人爱爱，也有可能感染HPV。如果一概而论，认为感染HPV的就是坏女孩，那可就冤枉了不少女孩呐~那么HPV究竟如何传播的呢？HPV病毒存在于日常环境中，传染途径除了主要有爱爱之外，也可通过皮肤接触传播，如卫生间、浴缸等。其实，HPV是每个女孩成长道路中的一道“劫难”。在国外，研究表明女性在她的一生中发生至少一次HPV感染的机率为85% ，而且感染HPV的女性中80%是在45岁以前感染的 。在我国，15～24岁的城市女性最有可能感染HPV，而因为没有症状导致不易被发觉，只有到医疗机构检查时才有可能发现。虽然HPV病毒在我们生活的环境中无处不在，这并不意味着我们对它就束手无策~~下面，到了重点科..</h2>
								</li>
								<li id="qianshi">
									<img src="news/img/859b6eaf-8ffd-470d-9030-7f5d77c38408.003.png" alt="" />
									<h1>一张图告诉你：宫颈癌与HPV的前世今生</h1>
									<h2>HPV与宫颈癌之间究竟有怎样的关联？得了HPV是否一定就会得宫颈癌？ 面对HPV与宫颈癌之间扑朔迷离的关系，女孩们总是急切地想弄明白。 憋着急，今天我们就通过简单的一张图带你了解宫颈癌与HPV的前世今生。 HPV16/18：不得不防的爆款病毒 HPV有很多类型，而其中HPV16/18是高危HPV中的“爆款”。它们与全球70%以上的宫颈癌相关，在中国这个数字更高达84.5%。感染了爆款HPV，就有可能发生癌前病变和宫颈癌。 更常见的HPV 16 vs 更可怕的HPV 18 不同类型的HPV导致不同类型的宫颈癌。约七八成的宫颈癌为鳞癌，主要由HPV16感染引起；另外一两成为腺癌，主要由HPV18感染引起。这两款爆款高危HPV中，HPV16比HPV18更常见，但HPV18的致癌作用比HPV16更大。 10年磨一癌 如果不幸感染了HPV 16/18，辣么女孩的未来可能会面临3种...</h2>
								</li>
								<li id="nxntm">
									<img src="../word/f736db57-eaa4-4d04-bc77-6d175aaa0d9a.001.png" alt="" />
									<h1>那些年，他们一起“追”的风</h1>
									<h2> 追星、追剧、追男神、追新番……新时代的追风少女们每天都有追不完的新鲜事儿。然而，追风可不是年轻人的特权哦，早在20世纪初，就有人在乐此不疲地追追追了，只不过他们追的是宫。颈。癌。 What？？？少女们避之不及的宫颈癌还有人敢去追？没错！没有专家们锲而不舍的追探，就没有今天宫颈癌致病元凶的真相大白。专家们是如何追的呢？跟随我们一起追追看吧！ 早在19世纪40年代，一位意大利医师从死亡登记资料分析中发现，患宫颈癌的妇女大多数为已婚者，未婚者很少，而修女几乎不患宫颈癌。因此，他认为结婚与否与宫颈癌的发生有着一定的关系。 20世纪50年代，人们开始将目光集中到家庭、婚姻、分娩和性生活上，企图在这里发现宫颈癌的蛛丝马迹。</h2>
								</li>
								<li id="hpvzjs">
									<img src="../word/8b6f16e3-44eb-4c18-bdaa-653cea80105b.005.png" alt="" />
									<h1>一份来自HPV的自白书</h1>
									<h2>Hi，大家好，我是HPV，我的中文名字叫人乳头瘤病毒。话不多说，先上自拍。喏，我长这样。 是不是很美丽？其实，我不单外表美，我的内在也很美哦！我的内在长这样↓ 跟你们人类一样，我也是有DNA哒！这2根成环的“链子”就是我的DNA，我的DNA具有很强的亲（chuan）和(ran)力(xing)，也是我与你们人类交朋友的“秘密武器”。我最喜欢年轻姑娘了，可她们貌似都不太喜欢我，一想到我就不寒而栗，在她们眼中，我就是糖衣炮弹，是坏人。说到这里，有必要向大家介绍下我的家族了。 我有一个超级大的伐木累，有超过100多位的兄弟姐妹，它们中有的比较调皮捣蛋，比如，HPV6、11、42、43、44等等，虽然它们接近人类，会带来一些与外生殖器湿疣等相关的疾病，但它们对人类没有太大的恶意，如果人类采取一些措施的话，它们会...</h2>
								</li>-->
							</ul>
							<div class="page3">
								<ul>
									<li class="pageClick">1</li>
									<!--<li>2</li>-->
								</ul>
							</div>
						</div>
						<div class="roomList roomList2">
							<ul class="roomListUl roomList2Show surveyList">
								
							</ul>
							<div class="page">
								<ul>
									<li class="pageClick">1</li>
									<li>2</li>
									<!--<li>3</li>
									<li>4</li>-->
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<footer></footer>
		<script type="text/javascript">
			var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
			document.write(unescape("%3Cspan style='display:none;' id='cnzz_stat_icon_1264398986'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s13.cnzz.com/z_stat.php%3Fid%3D1264398986' type='text/javascript'%3E%3C/script%3E"));
		</script>
		<script src="../static/js/common/jquery-1-e4ff02d3ba.9.1.js" charset="utf-8"></script>
		<script src="../static/js/arvay/index-3d32611247.js" charset="utf-8"></script>
		<script src="../static/js/libs/jquery-f5590c13e5.page.js" type="text/javascript" charset="utf-8"></script>
		<script src="../static/js/libs/jquery.mockjax.js" type="text/javascript" charset="utf-8"></script>
		<script src="../static/js/data/list.js" type="text/javascript" charset="utf-8"></script>
	</body>
	<script type="text/javascript">
		$(".header").load('header.html');
		$(function() {
			var href = window.location.search.split('=')[1];
			if(href == '0') {
				rommTextBoxShow();
				$(".roomTab li").eq(0).addClass('roomTabClick').siblings().removeClass('roomTabClick');
			} else {
				roomListShow();
				$(".roomTab li").eq(1).addClass('roomTabClick').siblings().removeClass('roomTabClick');
			};
			$('.page2').createPage(function(n) { //分页	
			}, {
				showTurn: false, //是否显示跳转,默认可以
				showSumNum: false, //是否显示总页码
				showNear: 1, //显示当前页码前多少页和后多少页，默认2
			}, {
				"color": "#fff", //字体颜色
				"borderColor": "#f00", //边线颜色
				"currentColor": "#A3A3A3", //当前页码的字体颜色
			});
			prevent(1);//宫颈癌预防 列表1
			survey(1);//宫颈癌概述 列表1
			//页码
			$(".page").on('click', 'li', function() {
				var i = $(this).index()+1;
				$(this).addClass('pageClick').siblings().removeClass('pageClick');
				$(".surveyList").html("");
				console.log(i)
				survey(i);
				$('body,html').animate({
					scrollTop: 400
				}, 300);
			});
			$(".page3").on('click', 'li', function() {
				var i = $(this).index();
				$(this).addClass('pageClick').siblings().removeClass('pageClick');
				$(".roomList1 ul").eq(i).addClass('roomList2Show').siblings().removeClass('roomList2Show');
				$('body,html').animate({
					scrollTop: 400
				}, 300);
			});
			$(".el-ul").on('click', 'span', function() {
				var _html = $(this).attr('class');
				$('.subnav,.footerNav,.indexSearch').css('display', 'none');
				$(".classroomBox").show(); //知识课堂
				if(_html == 'teb3_1') {
					rommTextBoxShow();
					$(".roomTab li").eq(0).addClass('roomTabClick').siblings().removeClass('roomTabClick');
				} else if(_html == 'teb3_2') {
					roomListShow();
					$(".roomTab li").eq(1).addClass('roomTabClick').siblings().removeClass('roomTabClick');
				} else if(_html != 'teb2_2' && _html != 'teb2_1') {} else {
					$(".classroomBox").hide();
				};
			});
			$(".roomTab li").click(function() {
				$(this).addClass('roomTabClick').siblings().removeClass('roomTabClick');
				if($(this).index() == 0) {
					rommTextBoxShow();
				} else {
					roomListShow();
				}
			});
			//详情
			$(".surveyList").on('click','li',function(){
				var id = $(this).attr('id');
				window.location.href = 'news/' + id + '.html?page=0';
			})
			$(".preventList").on('click','li',function(){
				var id = $(this).attr('id');
				window.location.href = 'news/' + id + '.html?page=1';
			})
			function rommTextBoxShow() {
				$(".roomList2,.indexBox").show();
				$(".roomList1,.indexFQA,.indexLive,.indexSearch,.rommTextBox").hide();
			};

			function roomListShow() {
				$(".roomList2,.indexFQA,.indexLive,.indexSearch,.rommTextBox").hide();
				$(".roomList1,.indexBox").show();
			}
			/**
			 * 宫颈癌预防列表
			 */
			function prevent(pag) {
				$.ajax({
					type: "post",
					url: "/restful/prevent",
					data: {
						type: pag
					},
					success: function(response) {
						console.log(response)
						$.each(response.list, function(index,e) {
							$(".preventList").append('<li id="'+e.id
							+'"><img src="news/img/'+e.img+'" alt="" /><h1>'+e.title
							+'</h1><h2>'+e.text+'</h2></li>')
						});
					}
				});
			}
			/**
			 * 宫颈癌概述列表
			 */
			function survey(pag) {
				$.ajax({
					type: "post",
					url: "/restful/survey",
					data: {
						type: pag
					},
					success: function(response) {
						console.log(response)
						$.each(response.list, function(index,e) {
							$(".surveyList").append('<li id="'+e.id
							+'"><img src="news/img/'+e.img+'" alt="" /><h1>'+e.title
							+'</h1><h2>'+e.text+'</h2></li>')
						});
					}
				});
			}
		});
	</script>

</html>