<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="keywords" content="宫颈癌,预防,概述,疫苗,行动,医学" />
		<meta name="description" content="宫颈癌,预防,概述,疫苗,行动,医学">
		<meta name="mobile-agent" content="format=html5; url=http://ccp.alihealth.cn">
		<title>宫颈癌预防行动</title>
		<!-- 引入样式 -->
		<link href="favicon.ico" rel="icon" type="image/x-icon" />
		<link rel="stylesheet" href="../static/css/arvay/index-666772c58a.css">
		<link rel="stylesheet" href="../static/css/common/animate-2f05da645a.css">
		<link rel="stylesheet" type="text/css" href="../static/css/arvay/contacUs-488b76e68e.css" />
	</head>

	<body>
		<div id="app">
			<div class="header"></div>
			<div class="main">
				<!--联系我们-->
				<div class="contactUs">
					<div class="contactUsBox">
						<div class="contactUsTab">
							<h1>网站简介</h1>
							<ul class="contacList">
								<li class="contacListAdd">网站地图</li>
								<li class="contacM">联系我们</li>
							</ul>
						</div>
						<div class="contactUsRight">
							<h1 class="contactUsRightTitle">网站地图</h1>
							<!--联系我们-->
							<div class="map">
								<h2>地理位置：</h2>
								<img src="../static/images/map_img.png" />
								<!--<h3>报告处方药和疫苗相关不良事件请致电</h3>
								<h3>电话：4001833383，8008203383</h3>
								<h3>消费保健品客户关系团队联系方式</h3>
								<h3>电话：4009911165</h3>-->
							</div>
							<!--网站地图-->
							<div class="comBox">
								<li>
									<h1>首页</h1>
									<h2><i></i></h2>
									<a href="index.html">
										<h3><p></p>首页</h3></a>
								</li>
								<li>
									<h1>活动资讯</h1>
									<h2><i></i></h2>
									<a href="dskLive.html?page=0">
										<h3><p></p>公益视频</h3></a>
									<a href="dskLive.html?page=1">
										<h3><p></p>活动直播</h3></a>
								</li>
								<li>
									<h1>知识课堂</h1>
									<h2><i></i></h2>
									<a href="classroom.html?page=0">
										<h3><p></p>宫颈癌概述</h3></a>
									<a href="classroom.html?page=1">
										<h3><p></p>宫颈癌预防</h3></a>
								</li>
								<li>
									<h1>常见问题</h1>
									<h2><i></i></h2>
									<a href="FQA.html">
										<h3><p></p>常见问题</h3></a>
								</li>
								<li>
									<h1>网站地图</h1>
									<h2><i></i></h2>
									<h3><p></p>网站地图</h3>
								</li>
								<li>
									<h1>联系我们</h1>
									<h2><i></i></h2>
									<h3><p></p>联系我们</h3>
								</li>
								<!--<li>
									<h1>搜索</h1>
									<h2><i></i></h2>
									<a href="search.html"><h3><p></p>搜索</h3></a>
								</li>-->
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
		<footer></footer>
		<script type="text/javascript">
			var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
			document.write(unescape("%3Cspan style='display:none;' id='cnzz_stat_icon_1264398986'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s13.cnzz.com/z_stat.php%3Fid%3D1264398986' type='text/javascript'%3E%3C/script%3E"));
		</script>
	</body>
	<script src="../static/js/common/jquery-1-e4ff02d3ba.9.1.js" charset="utf-8"></script>
	<script src="../static/js/arvay/index-3d32611247.js" charset="utf-8"></script>
	<!--
	 * @Author: Arvay
	 * @Date:   2017年8月4日19:09:43
	 * @Last modified by:   Arvay
	 * @Last modified time: 2017年8月11日15:14:25
	 *-->
	<script type="text/javascript">
		$(".header").load('header.html');
		$(function() {
			//			var isContact = localStorage.getItem('contact');
			//			if(isContact == "true"){
			//				$(".map").fadeIn(100);
			//				$(".contactUsRightTitle").html("联系我们")
			//				$(".comBox").hide();
			//				$(".contacM").addClass('contacListAdd').siblings().removeClass('contacListAdd');
			//			};
			var href = window.location.search.split('=')[1];
			if(href == '1') {
				$(".map").fadeIn(100);
				$(".contactUsRightTitle").html("联系我们")
				$(".comBox").hide();
				$(".contacM").addClass('contacListAdd').siblings().removeClass('contacListAdd');
			};
			$(".comBox li").click(function() {
				var index = $(this).index();
				if(index == 5) {
					$(".map").fadeIn(100);
					$(".contactUsRightTitle").html("联系我们")
					$(".comBox").hide();
					$(".contacList li").eq(1).addClass('contacListAdd').siblings().removeClass('contacListAdd');
				};
			});
			$(".comBox li h3").hover(function() {
				$(this).css('color', '#FF893A')
				$(this).find('p').css('background', '#FF893A');
			}, function() {
				$(this).css('color', '#A3A3A3')
				$(this).find('p').css('background', '#A3A3A3');
			});
			$(".contacList li").click(function() {
				var index = $(this).index();
				$(this).addClass('contacListAdd').siblings().removeClass('contacListAdd');
				if(index == 0) {
					$(".map").hide();
					$(".comBox").fadeIn(100);
					$(".contactUsRightTitle").html("网站地图")
				} else {
					$(".map").fadeIn(100);
					$(".contactUsRightTitle").html("联系我们")
					$(".comBox").hide();
				}
			});
		});
	</script>

</html>