<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="keywords" content="宫颈癌、疫苗、上市、防癌疫苗、hpv、HPV疫苗、二价疫苗、宫颈癌预防、预防、疫苗上市、宫颈癌预防行动、新闻1+1、打疫苗、接种疫苗、谈癌色变、肿瘤、癌症、公益" />
		<meta name="description" content="“宫颈癌预防行动”旨在科学普及宫颈癌防控基本知识， 增强公众对宫颈癌的防控意识，促进宫颈癌发病率和死亡率的降低，提高女性健康水平。">
		<meta name="mobile-agent" content="format=html5; url=http://ccp.alihealth.cn">
		<title>宫颈癌预防行动</title>
		<!-- 引入样式 -->
		<link href="favicon.ico" rel="icon" type="image/x-icon" />
		<link rel="stylesheet" href="../static/css/arvay/index-666772c58a.css">
		<link rel="stylesheet" href="../static/css/common/animate-2f05da645a.css">
		<link rel="stylesheet" href="../static/css/libs/swiper-3-6af34d0737.4.2.min.css" />
		<link rel="stylesheet" type="text/css" href="../static/css/libs/share.css" />
		<link rel="stylesheet" type="text/css" href="../static/css/arvay/dskLive-5929a1758d.css" />
	</head>

	<body>
		<div id="app">
			<div class="header"></div>
			<div class="main">
				<div class="indexLive">
					<div class="liveBox">
						<div class="liveTab">
							<h1>活动资讯</h1>
							<ul>
								<li>公益视频</li>
								<li>公益直播</li>
								<li>活动报道</li>
							</ul>
						</div>
						<div class="liveRight">
							<h1>活动视频</h1>
							<ul class="liveRightUl">
								<li>
									<img src="../static/images/film_img_1.png" />
									<span>15秒疾病教育篇</span>
								</li>
								<li>
									<img src="../static/images/film_img_2.png" />
									<span>15秒悬疑篇</span>
								</li>
								<li>
									<img src="../static/images/film_img_3.png" />
									<span>15秒情感篇</span>
								</li>
								<li>
									<img src="../static/images/film_img_4.png" />
									<span>MV</span>
								</li>
							</ul>
						</div>
						<div class="liveNext">
							<div class="bdsharebuttonbox">
								<!--分享-->
								<a href="#" class="bds_more" data-cmd="more"></a>
								<a href="#" class="bds_qzone" data-cmd="qzone"></a>
								<a href="#" class="bds_tsina" data-cmd="tsina"></a>
								<a href="#" class="bds_tqq" data-cmd="tqq"></a>
								<a href="#" class="bds_renren" data-cmd="renren"></a>
								<a href="#" class="bds_weixin" data-cmd="weixin"></a>
							</div>
							<h1>公益视频</h1>
							<div class="dskVideo">
								<span>尚未发布，敬请期待</span>
								<div id="id_test_video" style="width:100%; height:auto;"></div>
							</div>
							<div class="videoTitle">那些时代，早已远去。未来，却变幻莫测、充满未知。这就是我必须接受的命运吗？趁年轻 预防宫颈癌 即刻行动 保护她</div>
							<div class="liveSwiper">
								<div class="swiper-container">
									<div class="swiper-wrapper">
										<div class="swiper-slide">
											<img src="../static/images/Page 1.png" />
											<span>15秒疾病教育篇</span>
										</div>
										<div class="swiper-slide">
											<img src="../static/images/film_img_1.png" />
											<span>15秒悬疑篇</span>
										</div>
										<div class="swiper-slide">
											<img src="../static/images/film_img_2.png" />
											<span>15秒情感篇</span>
										</div>
										<div class="swiper-slide">
											<img src="../static/images/film_img_3.png" />
											<span>MV</span>
										</div>
									</div>
									<!-- 如果需要导航按钮 -->
									<div class="swiper-button-prev  swiper-button-white"></div>
									<div class="swiper-button-next  swiper-button-white"></div>
								</div>
							</div>
						</div>
						<div class="reportBox">
							<div class="report">
								<div class="reportTitle">活动报道</div>
								<ul class="reportList">
									<li id="gongguan">
										<img class="sidebarIcon" src="news/img/7462bb9c-dd50-4578-9cf4-9aa5a48353da.001.jpeg" alt="" />
										<h1>明星榜样｜从戏中饰演宫颈癌患者到现实亲身宣教宫颈癌</h1>
										<h2>被粉丝热赞为“公益鸠”的郭采洁最近可谓行程满满，前脚刚在慈善芭莎夜上与“小时代姐妹花”合体做公益，9月12日又马不停蹄地出现在上海大学进行宫颈癌预防行动的宣传教育。从戏中角色患上宫颈癌，到现实生活中宣教宫颈癌疾病，郭采洁不得不说是一个做公益好榜样！化身宫颈癌预防行动宣教大使 助力女性远离子宫颈癌9月12日下午，郭采洁身穿紫红色毛质长裙，搭配同色系短皮靴，干练整洁地现身在上海大学，参加中国宫颈癌预防控制科普项目的校园行活动。同日晚上，中国宫颈癌预防控制科普项目在上海和平饭店启...</h2>
									</li>
									<li id="xiaoyuanxing2">
										<img class="sidebarIcon" src="news/img/15ae896a-b404-48f3-9bfe-05cc6e34027f.003.jpeg" alt="" />
										<h1>中国宫颈癌预防控制科普项目,校园行（上海大学）活动启动</h1>
										<h2>2017年9月12日，中国宫颈癌预防控制科普项目校园行活动在上海大学启动。中华预防医学会副会长兼秘书长杨维中，上海市卫生计生委副主任吴凡，上海市学校卫生保健协会副会长丛海鹰，上海市教委体育卫生艺术科普处时多，上海大学工会常务副主席、妇委常务副主任顾红，上海大学校医院院长周弘，中国宫颈癌预防控制科普项目专家委员会专家代表、媒体代表和学生代表500余人参加了活动。宫颈癌是严重威胁女性健康的常见恶性肿瘤。我国宫颈癌每年新发病例10万，死亡病例3万，是15岁至44岁女性中第三大高发...</h2>
									</li>
									<li id="kepuxiangmu">
										<img class="sidebarIcon" src="news/img/5838c1d2-ebf4-4ece-9609-0ecdc171b29b.004.jpeg" alt="" />
										<h1>中国宫颈癌预防控制科普项目在沪启动</h1>
										<h2>2017年9月12日，中国宫颈癌预防控制科普项目启动会在上海和平饭店隆重举行。中华预防医学会王陇德会长、国家卫生计生委妇幼健康服务司宋莉副司长、上海市卫生计生委王磐石副主任、中华预防医学会副会长兼秘书长杨维中等有关单位部门领导，中国宫颈癌预防控制科普项目（以下简称“项目”）专家委员会专家代表以及媒体代表100余人参加了本次会议。宫颈癌是严重威胁女性健康的常见恶性肿瘤。我国宫颈癌每年新发病例10万，死亡病例3万，是15岁至44岁女性中第三大高发癌症。同时，宫颈癌是可以通过有效措...</h2>
									</li>
								</ul>
							</div>
							<div class="reportText">
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<footer></footer>
		<script type="text/javascript">
			var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
			document.write(unescape("%3Cspan style='display:none;' id='cnzz_stat_icon_1264398986'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s13.cnzz.com/z_stat.php%3Fid%3D1264398986' type='text/javascript'%3E%3C/script%3E"));
		</script>
	</body>
	<script src="../static/js/common/jquery-1-e4ff02d3ba.9.1.js" charset="utf-8"></script>
	<script src="../static/js/arvay/index-3d32611247.js" charset="utf-8"></script>
	<script src="../static/js/libs/swiper-3-d7749c8a97.4.2.jquery.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="//imgcache.qq.com/open/qcloud/video/vcplayer/TcPlayer-2.2.0.js" charset="utf-8"></script>
	<script src="../static/js/arvay/dskLive-521a9e8031.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		$(".header").load('header.html');
	</script>

</html>