<div class="footerBox">
	<p>宫颈癌预防行动由中华预防医学会和葛兰素史克共同倡导发起，旨在科学普及宫颈癌防控基本知识，增强公众对宫颈癌的防控意识，促进宫颈癌发病率和死亡率的降低，提高女性健康水平</p>
	<br>
	<span style="padding: 0 9px 0 0">隐私设置</span>
	<span>品牌使用规范</span>
	<span>互联网药品信息服务资格证书： 冀-非经营性-2015-0008</span>
	<span>Copyright©2014-2017 阿里健康 版权所有 ICP 冀B2-20150173</span>
	<span style="margin-top:10px; border: 0;margin: 0;">冀ICP备15020852号-2</span>
	<span style="margin-top:10px;text-align: left;padding: 0 9px 0 0"><img style="float: left;" src="https://img.alicdn.com/tps/TB1rw50LpXXXXbmXXXXXXXXXXXX-20-20.png"/>&nbsp;冀公网安备 13010402001187号</span>
</div>