<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="keywords" content="宫颈癌,预防,概述,疫苗,行动,医学" />
		<meta name="description" content="宫颈癌,预防,概述,疫苗,行动,医学">
		<meta name="mobile-agent" content="format=html5; url=http://ccp.alihealth.cn">
		<title>宫颈癌预防行动</title>
		<!-- 引入样式 -->
		<link href="favicon.ico" rel="icon" type="image/x-icon" />
		<link rel="stylesheet" href="../static/css/common/element-6ec1f3dbcc.css">
		<link rel="stylesheet" href="../static/css/arvay/index-666772c58a.css">
		<link rel="stylesheet" href="../static/css/common/animate-2f05da645a.css">
		<link rel="stylesheet" href="../static/css/libs/swiper-3-6af34d0737.4.2.min.css" />
	</head>
	<style type="text/css">
		.find_nav li:nth-child(4) span a {
			color: #fff !important;
		}
		
		.find_nav li:nth-child(4) {
			border-color: #FF893A;
		}
		
		.FAQBox {
			text-align: left;
		}
		
		.FAQBox li {
			border-bottom: 1px solid #E5E5E5;
			padding-bottom: 24px;
			margin-top: 30px;
		}
		
		.FAQBox h1 {
			text-align: left;
			font-size: 18px;
			color: #373B3F;
		}
		
		.FAQBox h2,
		.FAQBox h3 {
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			font-size: 16px;
			color: #190000;
			line-height: 32px;
		}
		
		.FAQBox h3 {
			padding-left: 20px;
			margin-top: 10px;
		}
		
		.FAQBox ul {
			display: none;
		}
		
		.FAQBox h2 span,
		.FAQBox h3 span {
			font-size: 20px;
			color: #FF893A;
			line-height: 20px;
		}
	</style>

	<body>
		<div id="app">
			<div class="header"></div>
			<div class="main">
				<!--常见问题-->
				<div class="indexFQA">
					<div class="FAQBox">
						<h1>常见问题</h1>
						<ul>
							<li>
								<h2><span>Q：</span>什么是宫颈癌？</h2>
								<h3><span>A：</span>宫颈癌是指发生在子宫宫颈的鳞状上皮细胞及宫颈管内膜的柱状上皮细胞交界处的恶性肿瘤，是女性最常见的恶性肿瘤之一。宫颈癌是目前唯一一个病因明确的妇科恶性肿瘤，与致癌型人乳头瘤病毒（human papillomaviruses, HPV）的持续感染相关。</h3>
							</li>
							<li>
								<h2><span>Q：</span>什么是宫颈癌前病变？</h2>
								<h3><span>A：</span>宫颈癌前病变又称宫颈上皮内瘤变（英文简称为CIN）。宫颈癌的形成经历从量变到质变，是一个漫长的过程，而癌前病变，正是由良性病变到恶性病变的中间状态。在某些因素持续作用下有可能变成宫颈癌。<br />宫颈癌前病变或宫颈上皮内瘤变（CIN），就是宫颈表面的一些细胞变得有点儿像癌细胞了。根据“有点儿像癌细胞”的细胞与癌细胞的相似度及其侵犯上皮的程度，可以把上皮内瘤变分成不同的等级，分别记为 CIN1、CIN2和 CIN3：<br />CIN1相当于宫颈轻度不典型增生，一般会自然消退（指回到正常状态）；<br />CIN2相当于宫颈中度不典型增生，有可能自然消退（指回到正常状态），但也可能变成 CIN3；<br />CIN3相当于宫颈重度不典型增生和（或）宫颈原位癌。癌前病变的结局可能有三种情况：好转甚至消退、持续存在、进一步恶化。 CIN数字越小，自然消退的可能性越大；数字越大，则发展为癌的几率越大。</h3>
							</li>
							<li>
								<h2><span>Q：</span>如何发现宫颈癌？</h2>
								<h3><span>A：</span>早期发现宫颈癌的最好方法就是定期进行简单方便的宫颈和（或）阴道细胞学涂片检查，如果细胞学检查发现异常再进行宫颈活检就可以确诊。</h3>
							</li>
							<li>
								<h2><span>Q：</span>宫颈癌是如何治疗的？</h2>
								<h3><span>A：</span>宫颈癌的治疗主要是手术和放射治疗，近年来化疗的作用逐步受到重视，成为宫颈癌治疗中的一个重要组成部分。临床会根据宫颈癌的临床分期，再考虑患者的年龄、身体状况等，选择其中的一种或几种而制定合适的治疗方案。</h3>
							</li>
							<li>
								<h2><span>Q：</span>感染了HPV还有必要接种疫苗吗？</h2>
								<h3><span>A：</span>接种宫颈癌疫苗可以预防其他相关HPV型别的感染或者相同HPV型别的再次感染。</h3>
							</li>
							<li>
								<h2><span>Q：</span>宫颈癌可以预防吗？</h2>
								<h3><span>A：</span>HPV是子宫颈癌的致病病毒，是人类肿瘤发病中唯一可以完全确认的致癌病毒，预防HPV感染就可以预防子宫颈癌。<br />据世界卫生组织（WHO）推荐，宫颈癌三级预防策略包括：<br />一级预防——疫苗接种：即对青少年女性及早接种疫苗，预防HPV感染；最好能在初次HPV暴露之前进行疫苗接种，建立免疫保护，最终达到预防宫颈癌的目的<br />二级预防——宫颈筛查：即对无症状、有患宫颈癌风险的妇女进行筛查，从而通过及时治疗防止病变进展到宫颈癌。<br />三级预防——检查治疗：即对发现异常结果的妇女，进一步检查治疗，把病变阻断在癌前期或早期。</h3>
							</li>
							<li>
								<h2><span>Q：</span>什么是人乳头瘤病毒（HPV）疫苗？</h2>
								<h3><span>A：</span>人乳头瘤病毒疫苗，简称HPV疫苗，因其可以预防HPV感染导致的宫颈癌，又被俗称为宫颈癌疫苗。宫颈癌是非常常见的女性恶性肿瘤，主要由感染人乳头瘤病毒（HPV）引起，该疫苗通过预防HPV病毒感染，进而有效预防了宫颈癌的发病。目前国际上已经上市的HPV疫苗有二价、四价和九价疫苗。截止2017年7月，二价HPV疫苗已经通过国家有关部门批准，在我国上市使用。</h3>
							</li>
							<li>
								<h2><span>Q：</span>HPV疫苗的接种程序如何呢？</h2>
								<h3><span>A：</span>国内首个获批的HPV疫苗为2价疫苗，采用三剂程序，即0、1、6月接种，每剂0.5mL。这也是世界卫生组织（WHO）推荐的接种方法之一。疫苗的程序请参照我国药监部门批准的产品说明书，并咨询医疗保健专业人士。 </h3>
							</li>
							<li>
								<h2><span>Q：</span>HPV疫苗怎么接种呢？</h2>
								<h3><span>A：</span>目前国内获批的HPV疫苗需要采用肌肉注射，首选部位为上臂三角肌。</h3>
							</li>
							<li>
								<h2><span>Q：</span>接种HPV疫苗前需要检测HPV感染情况吗？</h2>
								<h3><span>A：</span>根据世界卫生组织立场文件，在接种HPV疫苗前不需要进行HPV检测。</h3>
							</li>

						</ul>
						<ul>
							<li>
								<h2><span>Q：</span>什么年龄可以接种HPV疫苗呢？</h2>
								<h3><span>A：</span>目前在中国首个获批的2价HPV疫苗的接种对象为9到25岁女性。11同样，因为HPV疫苗用于预防而不是治疗HPV感染，最有效的接种时间是进入性活跃期之前。WHO推荐女孩和年轻女性进行接种。HPV疫苗接种对象的年龄应该参照国家药监部门批准的产品说明书，并咨询医疗保健专业人士。</h3>
							</li>
							<li>
								<h2><span>Q：</span>大于25岁接种意味着没有保护效果吗？</h2>
								<h3><span>A：</span>接种HPV疫苗请参照批准的说明书，并咨询医疗保健专业人士。目前在我国首个获批的2价HPV疫苗的适应年龄是9-25岁女性。国外的临床研究显示，25岁以上人群接种HPV疫苗后，其诱导的抗体水平依然高于自然感染。</h3>
							</li>
							<li>
								<h2><span>Q：</span>在完成推荐程序多年后，还需要再次接种吗？</h2>
								<h3><span>A：</span>目前没有研究表明需要在完成规定程序的HPV疫苗接种后再需要加强剂次。</h3>
							</li>
							<li>
								<h2><span>Q：</span>目前国内获批的2价HPV疫苗效果如何呢？</h2>
								<h3><span>A：</span>国外为期四年的临床试验证明，在未感染HPV的人群中：预防任意型别HPV引起高度宫颈病变（CIN3+）的总体保护效力达93.2%；预防HPV16/18型引起高度宫颈病变（CIN3+）的保护效力达100%。根据产品说明中的国内临床试验数据显示，预防HPV6月持续性感染和/或I级以上宫颈上皮内瘤变的保护效力为93.6%。HPV越早接种，获得的保护效果越好</h3>
							</li>
							<li>
								<h2><span>Q：</span>HPV疫苗仅对疫苗所包含的HPV型别有效吗？</h2>
								<h3><span>A：</span>目前国内首个获批的HPV疫苗是2价的，主要分别针对HPV16、18型，临床研究显示双价HPV疫苗对部分致癌型的HPV有一定交叉保护，包括HPV31,33和45型。</h3>
							</li>
							<li>
								<h2><span>Q：</span>有性生活史的女性可以接种HPV疫苗吗？</h2>
								<h3><span>A：</span>目前获批的HPV疫苗中，性生活不是接种的禁忌症；对于已有性生活还未感染HPV的女性，接种HPV疫苗可以预防相关HPV型别的感染及其引起的宫颈病变；对于有性生活后已经可能被某型别HPV感染的女性，接种HPV疫苗可以预防其他相关HPV型别的感染或者相同HPV型别的再次感染。</h3>
							</li>
						</ul>
						<div class="page3">
							<ul>
								<li class="pageClick">1</li>
							</ul>
						</div>
					</div>
				</div>
				<!--搜索-->
				<div class="indexSearch"></div>
			</div>
		</div>
		<footer></footer>
		<script type="text/javascript">
			var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
			document.write(unescape("%3Cspan style='display:none;' id='cnzz_stat_icon_1264398986'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s13.cnzz.com/z_stat.php%3Fid%3D1264398986' type='text/javascript'%3E%3C/script%3E"));
		</script>
	</body>

</html>
<script src="../static/js/common/jquery-1-e4ff02d3ba.9.1.js" charset="utf-8"></script>
<script src="../static/js/arvay/index-3d32611247.js" charset="utf-8"></script>
<script src="../static/js/libs/jquery-f5590c13e5.page.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
	$(".header").load('header.html');
	$(".el-ul").on('click', 'span', function() {
		$(".contactUsBox").hide(); //联系我们
		if($(this).attr('class') == 'teb4_1') {} else {
			$(".indexFQA").hide();
		}
	});
	$('.page3').createPage(function(n) { //分页	
		$(".FAQBox ul").eq(n - 1).show().siblings('ul').hide();
	}, {
		showTurn: false, //是否显示跳转,默认可以
		showSumNum: false, //是否显示总页码
		showNear: 1, //显示当前页码前多少页和后多少页，默认2
		pageCount: 2,
	}, {
		"color": "#fff", //字体颜色
		"borderColor": "#f00", //边线颜色
		"currentColor": "#A3A3A3", //当前页码的字体颜色
	});
	$(".navRight").click(function() {
		$(".indexBox,.indexLive,.contactUs,.indexFQA,.indexSearch,.subnav,.footerNav").hide(); //联系我们
		$(".indexFQA").show();
	});
</script>