<header>
				<img class="leftLogo" src="../static/images/top_lgoo.png" alt="">
				<img class="rightLogo" src="../static/images/top_logo_right.png" alt="">
				<div class="search">
					<img class="iconSearch" src="../static/images/search_icon_orange.png" alt="">
					<span style="line-height: 34px;color: #666;cursor: pointer;">预防宫颈癌</span>
					<!--<input type="text" name="" id="" placeholder="预防宫颈癌" />-->
				</div>
				<ul class="nav">
					<li class="homepage">设为首页</li>
					<li class="addcollect">加入收藏</li>
					<li class="siteMap">网站地图</li>
					<li class="contact">联系我们</li>
				</ul>
			</header>
				<div class="banenr">
					<div class="find_nav">
						<ul>
							<li class="hvr-underline-from-center">
								<span><a href="index.html">首页</a></span>
							</li>
							<li class="hvr-underline-from-center">
								<span><a href="dskLive.html?page=0">活动资讯</a></span>
								<div class="navList animated">
									<a href="dskLive.html?page=0">公益视频</a>
									<!--<a href="dskLive.html?page=1">活动直播</a>-->
									<a href="dskLive.html?page=2">活动报道</a>
								</div>
								<i style="height: 55px"></i>
							</li>
							<li class="hvr-underline-from-center">
								<span><a href="classroom.html?page=0">知识课堂</a></span>
								<div class="navList animated">
									<a href="classroom.html?page=0">宫颈癌概述</a>
									<a href="classroom.html?page=1">宫颈癌预防</a>
								</div>
								<i></i>
							</li>
							<li class="hvr-underline-from-center"><span><a href="FQA.html">常见问题</a></span>
								<div class="navList animated">
									<a href="cervicalCancer.html">宫颈癌</a>
									<a href="cervicalCancer2.html">宫颈癌疫苗</a>
								</div>
								<i></i>
							</li>
						</ul>
					</div>
				</div>
				<div class="banenrSweiper">
					<div class="block">
					</div>
				</div>
	<script src="../static/js/arvay/index-3d32611247.js" charset="utf-8"></script>
