<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="keywords" content="宫颈癌,预防,概述,疫苗,行动,医学" />
		<meta name="description" content="宫颈癌,预防,概述,疫苗,行动,医学">
		<meta name="mobile-agent" content="format=html5; url=http://ccp.alihealth.cn">
		<title>宫颈癌预防行动</title>
		<!-- 引入样式 -->
		<link href="favicon.ico" rel="icon" type="image/x-icon" />
		<link rel="stylesheet" href="../static/css/arvay/index-666772c58a.css">
		<link rel="stylesheet" href="../static/css/common/animate-2f05da645a.css">
		<link rel="stylesheet" type="text/css" href="../static/css/arvay/search-f77682be7e.css" />
	</head>

	<body>
		<div id="app">
			<div class="header"></div>
			<div class="main">
				<!--搜索-->
				<div class="indexSearch">
					<div class="searchBox">
						<h1 class="searchTitle">搜索结果</h1>
						<h2 class="result">对于“<span class="type-in">疫苗</span>”的搜索没有找到结果</h2>
						<div class="searchListBox">
							<ul class="searchList">
								<li>
									<img src="../static/images/img_1.png" alt="" />
									<h1>得了HPV就一定是坏女孩么？</h1>
									<h2><span>HPV</span><span>宫颈癌</span><span>感染</span>	</h2>
									<h3>谈到HPV，许多人就认为一定是性生活不检点才会感染这种病毒。其实，即便只和男朋友一个人爱爱，也有可能感染HPV…</h3>
								</li>
								<li>
									<img src="../static/images/img_2.png" alt="" />
									<h1>用数字说话：我国的宫颈癌流行病现状</h1>
									<h2><span>HPV</span><span>宫颈癌</span><span>感染</span>	</h2>
									<h3>在这个数字化的时代，几乎所有的事物都可以被量化。看明星的影响力要看他的粉丝数量，看自媒体的火爆度要看他是…</h3>
								</li>
								<li>
									<img src="../static/images/img_3.png" alt="" />
									<h1>一个细胞引发的“蝴蝶效应”</h1>
									<h2><span>HPV</span><span>宫颈癌</span><span>感染</span>	</h2>
									<h3>亚马逊河流的蝴蝶煽动了几下翅膀，美国德克萨斯就掀起了一场龙卷风；爱豆在北京开了场演唱会，上海的交通便陷入了…</h3>
								</li>
							</ul>
							<div class="page2" style="width:500px;"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<footer></footer>
		<script type="text/javascript">
			var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
			document.write(unescape("%3Cspan style='display:none;' id='cnzz_stat_icon_1264398986'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s13.cnzz.com/z_stat.php%3Fid%3D1264398986' type='text/javascript'%3E%3C/script%3E"));
		</script>
	</body>

</html>
<script src="../static/js/common/jquery-1-e4ff02d3ba.9.1.js" charset="utf-8"></script>
<script src="../static/js/arvay/index-3d32611247.js" charset="utf-8"></script>
<script src="../static/js/libs/swiper-3-d7749c8a97.4.2.jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script src="//imgcache.qq.com/open/qcloud/video/vcplayer/TcPlayer-2.2.0.js" charset="utf-8"></script>
<script src="../static/js/libs/jquery-f5590c13e5.page.js" type="text/javascript" charset="utf-8"></script>
<!--
 * @Author: Arvay
 * @Date:   2017年8月6日12:12:45
 * @Last modified by:   Arvay
 * @Last modified time: 2017年8月6日12:12:47
 *-->
<script type="text/javascript">
	$(".header").load('header.html');
	$('.page2').createPage(function(n) { //分页
	}, {
		showTurn: false, //是否显示跳转,默认可以
		showSumNum: false, //是否显示总页码
		showNear: 1, //显示当前页码前多少页和后多少页，默认2
	}, {
		"color": "#fff", //字体颜色
		"borderColor": "#f00", //边线颜色
		"currentColor": "#A3A3A3", //当前页码的字体颜色
	});
</script>